Repository Neiland85/a4co-ddd-microservices: changes, and which lint-staged commands are due for each by the changed paths.
All: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{js,jsx,json,md,css}": ["prettier --write"]
}

Refactor: Fix TS errors and improve service configurations
  CORRECCIONES_COMPLETADAS.md
  apps/inventory-service/src/infrastructure/routes/inventory.routes.ts
  apps/inventory-service/src/inventory.module.ts
  apps/inventory-service/src/main.ts
  apps/inventory-service/tsconfig.json
  apps/order-service/src/domain/aggregates/order.aggregate.ts
  apps/order-service/src/infrastructure/metrics/saga-metrics.service.ts
  apps/order-service/src/main.ts
  apps/order-service/tsconfig.json
  apps/payment-service/src/application/services/payment-event.publisher.ts
  apps/payment-service/src/payment.module.ts
  apps/payment-service/tsconfig.json
  docs/cspell-dictionary.md
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Refactor: Improve project structure and dependencies
  apps/dashboard-client/tsconfig.json
  apps/gateway/index.js
  apps/inventory-service/package.json
  apps/inventory-service/src/domain/entities/product.entity.ts
  apps/inventory-service/src/domain/events/index.ts
  apps/inventory-service/src/infrastructure/repositories/prisma-product.repository.ts
  apps/inventory-service/src/infrastructure/repositories/product.repository.ts
  apps/inventory-service/src/infrastructure/routes/inventory.routes.ts
  apps/inventory-service/src/inventory.module.ts
  apps/inventory-service/src/main.ts
  apps/order-service/src/application/sagas/order-saga-orchestrator.ts
  apps/order-service/src/application/sagas/order.saga.ts
  apps/order-service/src/application/use-cases/create-order.use-case.ts
  apps/order-service/src/domain/aggregates/order.aggregate.ts
  apps/order-service/src/main.ts
  apps/order-service/src/order.module.ts
  apps/order-service/src/presentation/controllers/controller.ts
  apps/order-service/src/types/prom-client.d.ts
  apps/order-service/tsconfig.json
  backend/src/app.module.ts
  backend/tsconfig.json
  packages/copilot-dashboard/tsconfig.json
  pnpm-lock.yaml
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat: Add missing tasks report for Phase 1
  INFORME_TAREAS_FALTANTES_FASE1.md
Due: prettier --write

feat: Add FASE1_TAREAS_PENDIENTES.md document
  FASE1_TAREAS_PENDIENTES.md
Due: prettier --write

Resuelve conflictos de merge, limpia typings.d.ts y tsconfig.json, y corrige linter errors
  .vscode/extensions.json
  .vscode/settings.json
  apps/payment-service/env.config.example
  apps/payment-service/package.json
  apps/payment-service/src/application/handlers/order-events.handler.ts
  apps/payment-service/src/application/services/payment-event.publisher.ts
  apps/payment-service/src/application/services/payment.service.ts
  apps/payment-service/src/application/use-cases/process-payment.use-case.ts
  apps/payment-service/src/application/use-cases/refund-payment.use-case.ts
  apps/payment-service/src/domain/entities/payment.entity.ts
  apps/payment-service/src/infrastructure/stripe.gateway.ts
  apps/payment-service/src/main.ts
  apps/payment-service/src/payment.controller.spec.ts
  apps/payment-service/src/payment.module.ts
  apps/payment-service/src/payment.service.spec.ts
  apps/payment-service/src/presentation/dtos/create-payment.dto.ts
  apps/payment-service/src/presentation/dtos/index.ts
  apps/payment-service/src/presentation/dtos/payment-response.dto.ts
  apps/payment-service/src/presentation/dtos/refund-payment.dto.ts
  apps/payment-service/src/presentation/dtos/webhook-event.dto.ts
  apps/payment-service/src/presentation/payment.controller.ts
  docs/cspell-dictionary.md
  pnpm-lock.yaml
  scripts/fix-module-imports.js
  tsconfig.json
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat: Add missing tasks report for Phase 1 (#269)
  INFORME_TAREAS_FALTANTES_FASE1.md
Due: prettier --write

feat: Add FASE1_TAREAS_PENDIENTES.md document (#270)
  FASE1_TAREAS_PENDIENTES.md
Due: prettier --write

Refactor: Improve project structure and dependencies (#267)
  apps/dashboard-client/tsconfig.json
  apps/gateway/index.js
  apps/inventory-service/package.json
  apps/inventory-service/src/domain/entities/product.entity.ts
  apps/inventory-service/src/domain/events/index.ts
  apps/inventory-service/src/infrastructure/repositories/prisma-product.repository.ts
  apps/inventory-service/src/infrastructure/repositories/product.repository.ts
  apps/inventory-service/src/infrastructure/routes/inventory.routes.ts
  apps/inventory-service/src/inventory.module.ts
  apps/inventory-service/src/main.ts
  apps/order-service/src/application/sagas/order-saga-orchestrator.ts
  apps/order-service/src/application/sagas/order.saga.ts
  apps/order-service/src/application/use-cases/create-order.use-case.ts
  apps/order-service/src/domain/aggregates/order.aggregate.ts
  apps/order-service/src/main.ts
  apps/order-service/src/order.module.ts
  apps/order-service/src/presentation/controllers/controller.ts
  apps/order-service/src/types/prom-client.d.ts
  apps/order-service/tsconfig.json
  backend/src/app.module.ts
  backend/tsconfig.json
  packages/copilot-dashboard/tsconfig.json
  pnpm-lock.yaml
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Chore/observability otel updates (#272)
  apps/dashboard-client/tsconfig.json
  apps/gateway/index.js
  apps/inventory-service/package.json
  apps/inventory-service/src/domain/entities/product.entity.ts
  apps/inventory-service/src/domain/events/index.ts
  apps/inventory-service/src/infrastructure/repositories/prisma-product.repository.ts
  apps/inventory-service/src/infrastructure/repositories/product.repository.ts
  apps/inventory-service/src/infrastructure/routes/inventory.routes.ts
  apps/inventory-service/src/inventory.module.ts
  apps/inventory-service/src/main.ts
  apps/order-service/src/application/sagas/order-saga-orchestrator.ts
  apps/order-service/src/application/sagas/order.saga.ts
  apps/order-service/src/application/use-cases/create-order.use-case.ts
  apps/order-service/src/domain/aggregates/order.aggregate.ts
  apps/order-service/src/main.ts
  apps/order-service/src/order.module.ts
  apps/order-service/src/presentation/controllers/controller.ts
  apps/order-service/src/types/prom-client.d.ts
  apps/order-service/tsconfig.json
  backend/tsconfig.json
  packages/copilot-dashboard/tsconfig.json
  pnpm-lock.yaml
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Cursor/coordinate agents for phase 1 completion bbf3 (#273)
  INFORME_TAREAS_FALTANTES_FASE1.md
Due: prettier --write

Fix: Resolve duplicate NATS server config and repository provider
  INFORME_MITIGACIONES_Y_ERRORES.md
  apps/inventory-service/src/inventory.module.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat: Add branch analysis report for mitigations and errors
  ANALISIS_RAMAS_MITIGACIONES_ERRORES.md
Due: prettier --write

Refactor: Improve order saga and inventory reservation handling
  apps/inventory-service/src/application/handlers/reserve-stock.handler.ts
  apps/order-service/src/application/commands/create-order.command.ts
  apps/order-service/src/application/sagas/order-saga-orchestrator.ts
  apps/order-service/src/application/sagas/order.saga.ts
  apps/order-service/src/application/services/service.ts
  apps/order-service/src/application/use-cases/create-order.use-case.ts
  apps/order-service/src/domain/aggregates/order.aggregate.ts
  apps/order-service/src/domain/base-classes.ts
  apps/order-service/src/domain/events/index.ts
  apps/order-service/src/domain/index.ts
  apps/order-service/src/domain/repositories/order.repository.ts
  apps/order-service/src/infrastructure/metrics/saga-metrics.service.ts
  apps/order-service/src/infrastructure/repositories/order.repository.ts
  apps/order-service/src/presentation/controllers/controller.ts
  apps/order-service/tests/integration/order-saga.integration.spec.ts
  pnpm-lock.yaml
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat: Add branch analysis report for mitigations and errors (#275)
  ANALISIS_RAMAS_MITIGACIONES_ERRORES.md
Due: prettier --write

Fix: Resolve duplicate NATS server config and repository provider (#274)
  INFORME_MITIGACIONES_Y_ERRORES.md
  apps/inventory-service/src/inventory.module.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Checkpoint before follow-up message
  .vscode/settings.json
  docs/cspell-dictionary.md
Due: prettier --write

fix: Añadir json5 como devDependency para arreglar workflows de CI
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: Simplificar workflows de CI eliminando dependencias de Vercel
  .github/workflows-backup/api-contract-validation.yml
  .github/workflows-backup/build-and-deploy.yml
  .github/workflows-backup/build-and-publish.yml
  .github/workflows-backup/ci-cd.yml
  .github/workflows-backup/ci-dependency-check.yml
  .github/workflows-backup/ci-sql-validate.yml
  .github/workflows-backup/ci.yml
  .github/workflows-backup/ddd-audit.yml
  .github/workflows-backup/dependencies.yml
  .github/workflows-backup/deploy-production.yml
  .github/workflows-backup/deploy.yml
  .github/workflows-backup/design-system-preview.yml
  .github/workflows-backup/feature-flags.yml
  .github/workflows-backup/prisma-verify.yml
  .github/workflows-backup/release.yml
  .github/workflows-backup/sonarcloud.yml
  .github/workflows-backup/test-coverage.yml
  .github/workflows/ci.yml
Due: none

feat: Añadir workflow de deployment a producción
  .github/workflows/deploy-production.yml
Due: none

refactor: Eliminar TODAS las referencias a Vercel del proyecto
  .github/workflows-backup/api-contract-validation.yml
  .github/workflows-backup/build-and-deploy.yml
  .github/workflows-backup/build-and-publish.yml
  .github/workflows-backup/ci-cd.yml
  .github/workflows-backup/ci-dependency-check.yml
  .github/workflows-backup/ci-sql-validate.yml
  .github/workflows-backup/ci.yml
  .github/workflows-backup/ddd-audit.yml
  .github/workflows-backup/dependencies.yml
  .github/workflows-backup/deploy-production.yml
  .github/workflows-backup/deploy.yml
  .github/workflows-backup/design-system-preview.yml
  .github/workflows-backup/feature-flags.yml
  .github/workflows-backup/prisma-verify.yml
  .github/workflows-backup/release.yml
  .github/workflows-backup/sonarcloud.yml
  .github/workflows-backup/test-coverage.yml
  .vscode/settings.json
  apps/dashboard-client/README.md
Due: prettier --write

fix: resolve moderate security vulnerabilities
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: implement admin dashboard structure
  apps/dashboard-client/@dashboard/components/ui/avatar.tsx
  apps/dashboard-client/@dashboard/components/ui/button.tsx
  apps/dashboard-client/@dashboard/components/ui/card.tsx
  apps/dashboard-client/@dashboard/components/ui/dropdown-menu.tsx
  apps/dashboard-client/@dashboard/components/ui/input.tsx
  apps/dashboard-client/@dashboard/components/ui/label.tsx
  apps/dashboard-client/@dashboard/components/ui/separator.tsx
  apps/dashboard-client/@dashboard/components/ui/table.tsx
  apps/dashboard-client/app/dashboard/orders/page.tsx
  apps/dashboard-client/app/dashboard/page.tsx
  apps/dashboard-client/app/dashboard/products/page.tsx
  apps/dashboard-client/app/dashboard/settings/page.tsx
  apps/dashboard-client/app/dashboard/users/page.tsx
  apps/dashboard-client/app/page.tsx
  apps/dashboard-client/components/layout/Sidebar.tsx
  apps/dashboard-client/package.json
  pnpm-lock.yaml
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat: implement dashboard design updates with improved UI components
  apps/dashboard-client/app/dashboard/orders/page.tsx
  apps/dashboard-client/app/dashboard/page.tsx
  apps/dashboard-client/app/dashboard/products/page.tsx
  apps/dashboard-client/app/dashboard/settings/page.tsx
  apps/dashboard-client/app/dashboard/users/page.tsx
  apps/dashboard-client/app/layout.tsx
  apps/dashboard-client/components/layout/Sidebar.tsx
  apps/dashboard-client/components/ui/button.tsx
  apps/dashboard-client/components/ui/form.tsx
  apps/dashboard-client/components/ui/label.tsx
  apps/dashboard-client/package.json
  apps/dashboard-client/tsconfig.json
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat: implement micro-interactions animations with idempotent controls
  .github/workflows/design-system-preview.yml.backup
  apps/dashboard-client/app/dashboard/animations/page.tsx
  apps/dashboard-client/app/dashboard/products/page.tsx
  apps/dashboard-client/app/dashboard/users/page.tsx
  apps/dashboard-client/app/globals.css
  apps/dashboard-client/components/AnimatedButton.tsx
  apps/dashboard-client/components/AnimationDemo.tsx
  apps/dashboard-client/components/layout/Sidebar.tsx
  apps/dashboard-client/package.json
  apps/dashboard-client/postcss.config.js
  apps/dashboard-client/tailwind.config.js
  apps/dashboard-client/tsconfig.json
  apps/frontend/index.css
  apps/frontend/index.html
  apps/frontend/package.json
  apps/frontend/tailwind.config.js
  docs/dev-server.md
  package.json
  packages/copilot-dashboard/package.json
  packages/design-system/h-modern-dashboard/package.json
  packages/design-system/package.json
  packages/design-system/postcss.config.js
  packages/design-system/src/components/Button/Button.tsx
  packages/design-system/src/components/Card/Card.tsx
  packages/design-system/src/components/index.ts
  pnpm-lock.yaml
  tsconfig.json
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat: agregar documentación y configuración para los servicios de autenticación, producto y usuario; actualizar dependencias y scripts de Prisma
  apps/auth-service/README.md
  apps/dashboard-client/components/layout/Sidebar.tsx
  apps/dashboard-client/postcss.config.js
  apps/inventory-service/package.json
  apps/inventory-service/src/main.ts
  apps/product-service/README.md
  apps/transportista-service/Dockerfile
  apps/transportista-service/__init__.py
  apps/transportista-service/pytest.ini
  apps/transportista-service/requirements-dev.txt
  apps/transportista-service/requirements.txt
  apps/transportista-service/tests/test_service.py
  apps/user-service/README.md
  backend/package.json
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/common/logger.service.ts
  backend/src/main.ts
  pnpm-workspace.yaml
  scripts/generate-backend-prisma.sh
  scripts/monolith-prisma-generate.sh
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

refactor: update sidebar icons and adjust linting scripts
  apps/dashboard-client/components/layout/Sidebar.tsx
  apps/dashboard-client/package.json
  apps/dashboard-client/postcss.config.js
  apps/payment-service/package.json
  apps/product-service/package.json
  eslint.config.js
  package.json
  packages/copilot-dashboard/package.json
  packages/design-system/package.json
  packages/observability/package.json
  pnpm-lock.yaml
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Update cspell dictionary and VSCode settings
  .vscode/settings.json
  docs/cspell-dictionary.md
Due: prettier --write

Actualizar el diccionario de cspell: agregar nuevas palabras y eliminar entradas obsoletas
  .vscode/settings.json
  docs/cspell-dictionary.md
Due: prettier --write

Fix TypeScript compilation errors and add missing dependencies
  .vscode/settings.json
  apps/dashboard-client/app/output.css
  apps/dashboard-client/test-import.ts
  apps/dashboard-client/test.ts
  apps/dashboard-client/tsconfig.json
  docs/cspell-dictionary.md
  package.json
  packages/copilot-dashboard/test-import.ts
  packages/copilot-dashboard/tsconfig.json
  pnpm-lock.yaml
  scripts/analyze-technical-debt.ts
  scripts/complexity-hotspots.ts
  tsconfig.json
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Fix TypeScript compilation errors and add missing dependencies (#290)
  .vscode/settings.json
  apps/dashboard-client/app/output.css
  apps/dashboard-client/test-import.ts
  apps/dashboard-client/test.ts
  apps/dashboard-client/tsconfig.json
  docs/cspell-dictionary.md
  package.json
  packages/copilot-dashboard/test-import.ts
  packages/copilot-dashboard/tsconfig.json
  pnpm-lock.yaml
  scripts/analyze-technical-debt.ts
  scripts/complexity-hotspots.ts
  tsconfig.json
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Security: Update glob to v11.1.0 to fix command injection vulnerability
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: resolve Prisma configuration and TypeScript compilation errors
  .vscode/settings.json
  a4co-ddd-microservices.code-workspace
  apps/inventory-service/package.json
  apps/inventory-service/src/inventory.module.ts
  apps/inventory-service/tsconfig.json
  docs/cspell-dictionary.md
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

fix: resolve Prisma configuration and TypeScript compilation errors (#291)
  .vscode/settings.json
  a4co-ddd-microservices.code-workspace
  apps/inventory-service/package.json
  apps/inventory-service/src/inventory.module.ts
  apps/inventory-service/tsconfig.json
  docs/cspell-dictionary.md
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

fix: address Copilot feedback for PR #288
  .vscode/settings.json
  apps/auth-service/README.md
  apps/transportista-service/requirements.txt
  backend/src/main.ts
  docs/cspell-dictionary.md
  scripts/generate-backend-prisma.sh
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

fix: address Copilot feedback for PR #288 - security and code quality fixes (#293)
  .vscode/settings.json
  apps/auth-service/README.md
  apps/transportista-service/requirements.txt
  backend/src/main.ts
  docs/cspell-dictionary.md
  scripts/generate-backend-prisma.sh
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write
