Repository Neiland85/a4co-ddd-microservices: changes, and which lint-staged commands are due for each by the changed paths.
All: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Test commit with secret
  test-secret.txt
Due: none

Remove test file
  .vscode/settings.json
  apps/auth-service/README.md
  backend/src/main.ts
  docs/cspell-dictionary.md
  eval "$(ssh-agent -s)"
  package.json
  scripts/pre-commit-secrets.sh
  test-secret.txt
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Remove test JWT file
  .gitleaks.toml
  docs/cspell-dictionary.md
  scripts/pre-commit-secrets.sh
Due: prettier --write

Remove test secret file
  .gitleaks.toml
  docs/cspell-dictionary.md
Due: prettier --write

fix: update GitHub Actions workflow versions
  .github/workflows/ci.yml
Due: none

feat: migrate dashboard-web to Next.js App Router
  .vscode/settings.json
  apps/dashboard-web/app/404.tsx
  apps/dashboard-web/app/api/dashboard/stats/route.ts
  apps/dashboard-web/app/error.tsx
  apps/dashboard-web/app/layout.tsx
  apps/dashboard-web/app/page.tsx
  apps/dashboard-web/eslint.config.js
  apps/dashboard-web/next-env.d.ts
  apps/dashboard-web/next.config.js
  apps/dashboard-web/package.json
  docs/cspell-dictionary.md
  pnpm-lock.yaml
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

fix: correct GitGuardian command, Trivy scan type, and submodule handling
  .github/workflows/ci.yml
Due: none

feat(inventory-service): initialize database schema and migrations for products, stock reservations, and stock movements
  .gitignore
  .vscode/settings.json
  apps/inventory-service/prisma/migrations/20251120031522_init/migration.sql
  apps/inventory-service/prisma/migrations/migration_lock.toml
  apps/inventory-service/src/domain/entities/stock-reservation.entity.spec.ts
  apps/inventory-service/src/domain/entities/stock-reservation.entity.ts
  apps/inventory-service/src/infrastructure/repositories/prisma-product.repository.ts
  apps/inventory-service/src/infrastructure/repositories/stock-reservation.repository.ts
  apps/inventory-service/src/inventory.module.ts
  apps/order-service/src/application/sagas/order-saga-orchestrator.ts
  apps/order-service/src/application/sagas/order.saga.ts
  apps/order-service/src/application/sagas/order.saga.ts.save
  apps/payment-service/src/application/use-cases/process-payment-improved.use-case.ts
  apps/payment-service/src/payment.module.ts
  apps/payment-service/src/presentation/payment.controller.ts
  apps/payment-service/tsconfig.app.json
  docker-compose.yml
  docs/PROXIMOS_PASOS.md
  docs/cspell-dictionary.md
  init.sql
  jest.config.js
  nx.json
  package.json
  packages/shared-utils/src/events/subjects.d.ts
  packages/shared-utils/src/events/subjects.d.ts.map
  packages/shared-utils/src/events/subjects.js
  packages/shared-utils/src/events/subjects.js.map
  packages/shared-utils/src/security/braces-monitor.js.map
  packages/shared-utils/src/security/braces-security.js.map
  packages/shared-utils/src/security/safe-exec.d.ts.map
  packages/shared-utils/src/security/safe-exec.js
  packages/shared-utils/src/security/safe-exec.js.map
  packages/shared-utils/src/security/validate-braces-security.d.ts.map
  packages/shared-utils/src/security/validate-braces-security.js
  packages/shared-utils/src/security/validate-braces-security.js.map
  pnpm-lock.yaml
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

fix: correct turbo.json configuration
  turbo.json
Due: prettier --write

chore: update VS Code settings and spell check dictionary
  .vscode/settings.json
  docs/cspell-dictionary.md
Due: prettier --write

fix: update CI workflow to use latest pnpm version
  .github/workflows/ci.yml
Due: none

fix: resolve pnpm version conflict in CI workflow
  .github/workflows/ci.yml
Due: none

ci: temporarily disable CI workflow
  .github/workflows/ci.yml.disabled
Due: none

ci: temporarily disable CI workflow
  .nx/workspace-data/file-map.json
  .nx/workspace-data/lockfile-dependencies.hash
  .nx/workspace-data/lockfile-nodes.hash
  .nx/workspace-data/nx_files.nxt
  .nx/workspace-data/parsed-lock-file.dependencies.json
  .nx/workspace-data/parsed-lock-file.nodes.json
  .nx/workspace-data/project-graph.json
  .nx/workspace-data/source-maps.json
  .vscode/settings.json
  apps/dashboard-client/lib/api-client.ts
  apps/dashboard-client/lib/auth-context.tsx
  apps/dashboard-client/lib/useMicroAnimations.ts
  apps/dashboard-web/lib/readonly-db.ts
  docs/cspell-dictionary.md
  packages/copilot-dashboard/lib/auth-context.tsx
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

chore: update cspell dictionary
  docs/cspell-dictionary.md
Due: prettier --write

Develop (#295)
  .github/workflows/ci.yml.disabled
  .nx/workspace-data/file-map.json
  .nx/workspace-data/lockfile-dependencies.hash
  .nx/workspace-data/lockfile-nodes.hash
  .nx/workspace-data/nx_files.nxt
  .nx/workspace-data/parsed-lock-file.dependencies.json
  .nx/workspace-data/parsed-lock-file.nodes.json
  .nx/workspace-data/project-graph.json
  .nx/workspace-data/source-maps.json
  .vscode/settings.json
  apps/dashboard-client/components/layout/Sidebar.tsx
  apps/dashboard-client/lib/api-client.ts
  apps/dashboard-client/lib/auth-context.tsx
  apps/dashboard-client/lib/useMicroAnimations.ts
  apps/dashboard-web/lib/readonly-db.ts
  apps/payment-service/eslint.config.js
  apps/payment-service/package.json
  docs/cspell-dictionary.md
  package.json
  packages/copilot-dashboard/lib/auth-context.tsx
  packages/copilot-dashboard/package.json
  pnpm-lock.yaml
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Fix unused @eslint/js dependency in copilot-dashboard (#297)
  .vscode/settings.json
  docs/cspell-dictionary.md
  packages/copilot-dashboard/eslint.config.js
Due: prettier --write

ci: disable failing CI workflows in develop branch
  .github/workflows/build-and-deploy.yml.disabled
  .github/workflows/build-and-publish.yml.disabled
  .github/workflows/ci-cd.yml.disabled
Due: none

ci: disable failing security workflow in fix/typescript-compilation-and-dependencies branch
  .github/workflows/security.yml.disabled
Due: none

ci: disable failing CI workflow in copilot/sub-pr-288 branch
  .github/workflows/ci.yml.disabled
Due: none

ci: disable failing CI workflow in feature/fase0-monolito-prisma branch
  .github/workflows/ci.yml.disabled
Due: none

Remove CI workflow configuration
  .github/workflows/ci.yml
Due: none

Redesign dashboard for artisan management
  apps/dashboard-client/app/globals.css
  apps/dashboard-client/app/layout.tsx
  apps/dashboard-client/app/pedidos/page.tsx
  apps/dashboard-client/app/perfil/page.tsx
  apps/dashboard-client/app/productos/page.tsx
  apps/dashboard-client/app/test/page.tsx
  apps/dashboard-client/components/PageTransition.tsx
  apps/dashboard-client/components/forms/OrderStatusUpdate.tsx
  apps/dashboard-client/components/forms/ProductDetails.tsx
  apps/dashboard-client/components/forms/ProductForm.tsx
  apps/dashboard-client/components/forms/ProfileForm.tsx
  apps/dashboard-client/components/layout/Sidebar.tsx
  apps/dashboard-client/components/ui/avatar.tsx
  apps/dashboard-client/components/ui/badge.tsx
  apps/dashboard-client/components/ui/button.tsx
  apps/dashboard-client/components/ui/card.tsx
  apps/dashboard-client/components/ui/table.tsx
  apps/dashboard-client/hooks/useAnime.ts
  apps/dashboard-client/postcss.config.js
  apps/dashboard-client/tailwind.config.js
  apps/product-service/src/infrastructure/services/image-upload.service.ts
  apps/product-service/src/product.controller.ts
  apps/product-service/src/product.module.ts
  apps/product-service/test-upload.js
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Update apps/dashboard-client/tailwind.config.js
  apps/dashboard-client/tailwind.config.js
Due: prettier --write

Update apps/dashboard-client/postcss.config.js
  apps/dashboard-client/postcss.config.js
Due: prettier --write

Update apps/dashboard-client/package.json
  apps/dashboard-client/package.json
Due: prettier --write

Update apps/dashboard-client/tsconfig.json
  apps/dashboard-client/tsconfig.json
Due: prettier --write

Update apps/frontend/Dockerfile.prod
  apps/frontend/Dockerfile.prod
Due: none

Path conditions:
  ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,json,md,css})
