Repository Neiland85/a4co-ddd-microservices: changes, and which lint-staged commands are due for each by the changed paths.
All: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

fix(observability): Add no-undef eslint-disable for require statement
  packages/observability/src/index.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

fix(observability): Add @nestjs/common as devDependency for middleware types
  packages/observability/package.json
Due: prettier --write

chore: Update pnpm-lock.yaml with @nestjs/common dependency
  pnpm-lock.yaml
Due: none

fix: Corregir errores de TypeScript en @a4co/domain y scripts
  .vscode/settings.json
  docs/cspell-dictionary.md
  packages/domain/.eslintrc.cjs
  packages/domain/src/common/errors/index.ts
  packages/domain/src/common/index.ts
  packages/domain/src/common/types/index.ts
  packages/domain/src/common/value-objects/index.ts
  packages/domain/src/order/entities/order.aggregate.ts
  packages/domain/src/order/value-objects/order-item.vo.ts
  packages/domain/src/payment/entities/payment.entity.ts
  packages/domain/src/payment/index.ts
  packages/domain/src/payment/value-objects/payment-method.vo.ts
  packages/domain/src/payment/value-objects/payment-status.vo.ts
  packages/domain/tsconfig.json
  scripts/bundle-killer.ts
  scripts/middleware/vite-static-file-protector.ts
  scripts/templates/micromatch-pattern.validator.ts
  scripts/templates/micromatch-redos-protector.ts
  scripts/templates/safe-micromatch.ts
  scripts/templates/safe-vite-static-server.ts
  scripts/templates/vite-static-file-protector.ts
  scripts/validators/vite-static-path.validator.ts
  tsconfig.json
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Resolve merge conflict in cspell-dictionary.md
  .gitignore
  .turbo/cookies/1.cookie
  .turbo/cookies/10.cookie
  .turbo/cookies/2.cookie
  .turbo/cookies/3.cookie
  .turbo/cookies/4.cookie
  .turbo/cookies/5.cookie
  .turbo/cookies/6.cookie
  .turbo/cookies/7.cookie
  .turbo/cookies/8.cookie
  .turbo/cookies/9.cookie
  .turbo/daemon/d42444ee0ef6d315-turbo.log.2025-12-16
  docs/cspell-dictionary.md
Due: prettier --write

Update apps/auth-service/README.md
  apps/auth-service/README.md
Due: prettier --write

Update apps/dashboard-client/components/layout/Sidebar.tsx
  apps/dashboard-client/components/layout/Sidebar.tsx
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Update apps/inventory-service/package.json
  apps/inventory-service/package.json
Due: prettier --write

Update scripts/monolith-prisma-generate.sh
  scripts/monolith-prisma-generate.sh
Due: none

2025 11 10 83dw 9 dmj2 (#361)
  apps/inventory-service/package.json
  backend/package.json
  scripts/monolith-prisma-generate.sh
Due: prettier --write

feat: actualizar configuraciones de Docker y mejorar el manejo de dependencias en los servicios
  .dockerignore
  .vscode/settings.json
  apps/inventory-service/package.json
  apps/inventory-service/src/application/handlers/reserve-stock.handler.ts
  apps/inventory-service/tsconfig.json
  apps/order-service/package.json
  apps/order-service/tsconfig.json
  cspell.json
  docker-compose.test.yml
  docker-compose.yml
  docs/cspell-dictionary.md
  libs/shared-events/project.json
  packages/observability/package.json
  packages/shared-events/project.json
  tsconfig.base.json
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

chore(pnpm): sync lockfile after dependency changes
  pnpm-lock.yaml
Due: none

fix(ci): sync lockfile and fix workspace builds
  apps/auth-service/Dockerfile
  apps/gateway/Dockerfile
  apps/inventory-service/Dockerfile
  apps/inventory-service/package.json
  apps/order-service/Dockerfile
  apps/order-service/package.json
  apps/payment-service/Dockerfile
  apps/product-service/Dockerfile
  docker-compose.yml
  libs/config/src/env.ts
  package.json
  packages/observability/package.json
  packages/shared-events/project.json
  packages/shared-events/src/base/event.base.ts
  packages/shared-events/src/events/order/order-created.v1.ts
  packages/shared-events/src/events/payment/payment-confirmed.v1.ts
  packages/shared-events/src/events/payment/payment-failed.v1.ts
  pnpm-lock.yaml
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat: actualizar diccionario de cspell con nuevos términos en español y mejorar configuraciones de VSCode
  .vscode/settings.json
  docs/cspell-dictionary.md
Due: prettier --write

chore: sync lockfile and fix observability deps
  packages/observability/package.json
  packages/observability/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

Fix gateway auth tests and frontend Tailwind tokens
  apps/frontend/tailwind.config.js
  apps/gateway/src/common/middleware/jwt-auth.middleware.ts
  apps/gateway/test/api-gateway.e2e.spec.ts
  pnpm-lock.yaml
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Fix gateway auth tests and frontend Tailwind tokens (#364)
  apps/frontend/tailwind.config.js
  apps/gateway/src/common/middleware/jwt-auth.middleware.ts
  apps/gateway/test/api-gateway.e2e.spec.ts
  pnpm-lock.yaml
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Upgrade Next.js to patched release for React Flight RCE (#366)
  apps/dashboard-client/package.json
  docs/security/next-upgrade.md
  packages/design-system/h-modern-dashboard/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(security): upgrade qs to mitigate DoS arrayLimit vulnerability (CVE-2025-15284) (#367)
  .gitignore
  .vscode/settings.json
  docs/cspell-dictionary.md
  docs/security/qs-upgrade.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add compliance documentation with GDPR/LOPDGDD DPIA and code traceability (#371)
  docs/compliance/DPIA-GDPR-LOPDGDD.md
  docs/compliance/README.md
Due: prettier --write

Add preview and production deployment configuration with automated setup (#370)
  .env.preview
  .env.preview.example
  DEPLOYMENT_GUIDE.md
  DEPLOYMENT_SUMMARY.md
  PREVIEW_TESTING_GUIDE.md
  PRODUCTION_READINESS_CHECKLIST.md
  QUICK_REFERENCE.md
  README.md
  docker-compose.preview.yml
  package.json
  start-preview.sh
  verify-preview-setup.sh
Due: prettier --write

chore(payment-service): enable strictNullChecks for improved type safety
  apps/services/payment-service/tsconfig.json
Due: prettier --write

chore: fix YAML indentation in codacy instructions
  .github/instructions/codacy.instructions.md
  static/environment.js
  static/favicon.ico
  static/main.js
  static/runtime.js
  static/styles.css
  static/styles.js
  tmp-graph.html
Due: prettier --write

chore: make workspace deps file: references for local install
  .turbo/daemon/d42444ee0ef6d315-turbo.log.2025-12-28
  apps/dashboard-client/package.json
  apps/infrastructure/notification-service/package.json
  apps/services/auth-service/package.json
  apps/services/inventory-service/package.json
  apps/services/order-service/package.json
  apps/services/payment-service/package.json
  apps/services/product-service/package.json
  apps/services/user-service/package.json
  apps/transportista-service/package.json
  packages/domain/package.json
  packages/shared-events/package.json
  scripts/convert-workspace-to-file.js
Due: prettier --write

fix: peerDependencies use workspace:* instead of file: for local packages
  packages/domain/package.json
Due: prettier --write

fix: peerDependencies use workspace:* in shared-events
  packages/shared-events/package.json
Due: prettier --write

chore: normalize local workspace deps to workspace:* for robust install
  .vscode/settings.json
  apps/dashboard-client/package.json
  apps/infrastructure/notification-service/package.json
  apps/services/auth-service/package.json
  apps/services/inventory-service/package.json
  apps/services/order-service/package.json
  apps/services/payment-service/package.json
  apps/services/product-service/package.json
  apps/services/user-service/package.json
  apps/transportista-service/package.json
  docs/cspell-dictionary.md
  scripts/fix-file-refs.js
  scripts/repair-file-refs-accurate.js
  scripts/revert-file-to-workspace.js
Due: prettier --write

chore: include recursive globs in pnpm-workspace.yaml (apps/**, packages/**, libs/**)
  pnpm-workspace.yaml
Due: none

fix: exclude nested a4co-ddd-microservices from workspace globs
  pnpm-workspace.yaml
Due: none

chore: exclude libs/** from workspace to avoid duplicate packages
  pnpm-workspace.yaml
Due: none

fix: domain-inventory build script to use root tsconfig.build.json
  packages/domain/inventory/package.json
Due: prettier --write

chore: update lockfile and workspace configuration for complete install
  .vscode/settings.json
  docs/cspell-dictionary.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/repair-file-refs-accurate.js
  scripts/revert-file-to-workspace.js
Due: prettier --write

fix: domain-inventory package.json build script uses tsc only
  .turbo/cookies/10.cookie
  .turbo/cookies/11.cookie
  .turbo/cookies/12.cookie
  .turbo/cookies/13.cookie
  .turbo/cookies/14.cookie
  .turbo/cookies/15.cookie
  .turbo/cookies/16.cookie
  .turbo/cookies/17.cookie
  .turbo/cookies/18.cookie
  .turbo/cookies/2.cookie
  .turbo/cookies/3.cookie
  .turbo/cookies/4.cookie
  .turbo/cookies/5.cookie
  .turbo/cookies/6.cookie
  .turbo/cookies/7.cookie
  .turbo/cookies/8.cookie
  .turbo/cookies/9.cookie
  apps/services/product-service/src/infrastructure/generated/prisma/node_modules/.bin/prisma
  apps/services/product-service/src/infrastructure/generated/prisma/node_modules/.bin/tsc
  apps/services/product-service/src/infrastructure/generated/prisma/node_modules/.bin/tsserver
  apps/services/product-service/src/infrastructure/generated/prisma/node_modules/@prisma/client
  apps/services/product-service/src/infrastructure/generated/prisma/node_modules/prisma
  docs/cspell-dictionary.md
  packages/domain/inventory/package.json
Due: prettier --write

feat: agregar configuración de ESLint compatible con herramientas que requieren formato .eslintrc legado
  .eslintrc.cjs
Due: none

tu mensaje de commit
  .vscode/settings.json
  apps/infrastructure/gateway/jest.config.cjs
  apps/services/auth-service/jest.config.cjs
  apps/services/inventory-service/jest.config.cjs
  apps/services/inventory-service/src/__tests__/basic.spec.ts
  apps/services/inventory-service/tests/service.test.ts
  apps/services/order-service/jest.config.cjs
  apps/services/order-service/tsconfig.json
  apps/services/order-service/tsconfig.spec.json
  apps/services/payment-service/jest.config.cjs
  apps/services/product-service/jest.config.cjs
  apps/services/product-service/tests/product.aggregate.spec.ts
  apps/services/product-service/tests/product.service.spec.ts
  apps/services/product-service/tsconfig.json
  apps/services/user-service/jest.config.cjs
  apps/services/user-service/tests/service.test.ts
  docs/cspell-dictionary.md
  jest.config.base.cjs
  package.json
  packages/domain/jest.config.cjs
  pnpm-lock.yaml
  scripts/bundle-killer.ts
  scripts/templates/micromatch-redos-protector.ts
  scripts/templates/safe-micromatch.ts
  scripts/templates/safe-vite-static-server.ts
  scripts/templates/vite-static-file-protector.ts
  scripts/types/shims.d.ts
  tsconfig.base.json
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Path conditions:
  ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,json,md,css})
