Repository Neiland85/a4co-ddd-microservices: changes, and which lint-staged commands are due for each by the changed paths.
All: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{js,jsx,json,md,css}": ["prettier --write"]
}

ci: add lockfile guard and critical advisory policy
  .github/workflows/ci.yml
  apps/dashboard-client/package.json
  docs/AUDIT-TECNICA-2026-02.md
  docs/NEXT_STEPS_REACT_FLIGHT_RCE.md
  docs/cspell-dictionary.md
  packages/design-system/h-modern-dashboard/package.json
  pnpm-lock.yaml
Due: prettier --write

ci: add lockfile guard and critical advisory policy (#416)
  .github/workflows/ci.yml
Due: none

docs: add merge playbook for resolving PR #393 conflicts
  .github/workflows/ci.yml
  apps/dashboard-client/package.json
  docs/AUDIT-TECNICA-2026-02.md
  docs/NEXT_STEPS_REACT_FLIGHT_RCE.md
  docs/PR393_MERGE_PLAYBOOK.md
  docs/cspell-dictionary.md
  packages/design-system/h-modern-dashboard/package.json
  pnpm-lock.yaml
Due: prettier --write

docs: add merge playbook for resolving PR #393 conflicts (#417)
  docs/PR393_MERGE_PLAYBOOK.md
Due: prettier --write

Phase 1: saga contracts + green monorepo build (#393)
  .github/actions/setup-monorepo/action.yml
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  apps/frontend/package.json
  apps/infrastructure/gateway/Dockerfile
  apps/infrastructure/gateway/src/auth/dto/auth.dto.ts
  apps/infrastructure/gateway/tsconfig.build.json
  apps/infrastructure/gateway/tsconfig.json
  docker-compose.test.yml
  docs/cspell-dictionary.md
  package.json
  scripts/run-e2e-tests.sh
  scripts/update-cspell-dicts.ts
  scripts/update-dicts-safe.sh
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat: add LegalEvidence bounded context (legal-evidence-service) (#420)
  apps/services/legal-evidence-service/jest.config.cjs
  apps/services/legal-evidence-service/package.json
  apps/services/legal-evidence-service/prisma/schema.prisma
  apps/services/legal-evidence-service/src/domain/aggregates/case.aggregate.ts
  apps/services/legal-evidence-service/src/domain/aggregates/evidence.aggregate.ts
  apps/services/legal-evidence-service/src/domain/base-classes.ts
  apps/services/legal-evidence-service/src/domain/entities/access-log.entity.ts
  apps/services/legal-evidence-service/src/domain/entities/chain-of-custody-event.entity.ts
  apps/services/legal-evidence-service/src/domain/entities/evidence-file.entity.ts
  apps/services/legal-evidence-service/src/domain/entities/generated-report.entity.ts
  apps/services/legal-evidence-service/src/domain/entities/party.entity.ts
  apps/services/legal-evidence-service/src/domain/events/case-opened.event.ts
  apps/services/legal-evidence-service/src/domain/events/custody-transferred.event.ts
  apps/services/legal-evidence-service/src/domain/events/evidence-submitted.event.ts
  apps/services/legal-evidence-service/src/domain/events/index.ts
  apps/services/legal-evidence-service/src/domain/events/report-generated.event.ts
  apps/services/legal-evidence-service/src/domain/index.ts
  apps/services/legal-evidence-service/src/domain/repositories/case.repository.ts
  apps/services/legal-evidence-service/src/domain/repositories/evidence.repository.ts
  apps/services/legal-evidence-service/src/domain/value-objects/hash-record.vo.ts
  apps/services/legal-evidence-service/tsconfig.json
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

docs: DDD architecture report — bounded contexts, active services, inter-service dependencies, and DEMS reusability (#419)
  docs/INFORME_ARQUITECTURA_DDD_BOUNDED_CONTEXTS.md
Due: prettier --write

feat(legal-evidence): HashService, HashRecord VO, and EvidenceFile entity with auto-hash generation (#421)
  apps/services/legal-evidence-service/.gitignore
  apps/services/legal-evidence-service/jest.config.cjs
  apps/services/legal-evidence-service/package.json
  apps/services/legal-evidence-service/src/domain/entities/evidence-file.entity.ts
  apps/services/legal-evidence-service/src/domain/services/hash.service.ts
  apps/services/legal-evidence-service/src/domain/value-objects/hash-record.vo.ts
  apps/services/legal-evidence-service/test/evidence-file.spec.ts
  apps/services/legal-evidence-service/test/hash.service.spec.ts
  apps/services/legal-evidence-service/tsconfig.build.json
  apps/services/legal-evidence-service/tsconfig.json
  apps/services/legal-evidence-service/tsconfig.spec.json
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat: append-only ChainOfCustodyEvent system (#422)
  packages/shared-utils/jest.config.cjs
  packages/shared-utils/package.json
  packages/shared-utils/src/chain-of-custody/__tests__/chain-of-custody.service.spec.ts
  packages/shared-utils/src/chain-of-custody/chain-of-custody-event.types.ts
  packages/shared-utils/src/chain-of-custody/chain-of-custody.service.ts
  packages/shared-utils/src/chain-of-custody/index.ts
  packages/shared-utils/src/index.ts
  packages/shared-utils/tsconfig.spec.json
  prisma/schema.prisma
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat(legal-evidence-service): implement POST /cases/:id/report PDF generation (#428)
  apps/services/legal-evidence-service/package.json
  apps/services/legal-evidence-service/src/application/ports/pdf-generator.port.ts
  apps/services/legal-evidence-service/src/application/use-cases/__tests__/generate-report.use-case.spec.ts
  apps/services/legal-evidence-service/src/application/use-cases/generate-report.use-case.ts
  apps/services/legal-evidence-service/src/domain/entities/access-log.entity.ts
  apps/services/legal-evidence-service/src/domain/entities/evidence-file.entity.ts
  apps/services/legal-evidence-service/src/domain/index.ts
  apps/services/legal-evidence-service/src/domain/repositories/access-log.repository.ts
  apps/services/legal-evidence-service/src/domain/repositories/report.repository.ts
  apps/services/legal-evidence-service/src/domain/services/hash.service.ts
  apps/services/legal-evidence-service/src/domain/value-objects/hash-record.vo.ts
  apps/services/legal-evidence-service/src/infrastructure/pdf/minimal-pdf-generator.service.ts
  apps/services/legal-evidence-service/src/infrastructure/repositories/prisma-access-log.repository.ts
  apps/services/legal-evidence-service/src/infrastructure/repositories/prisma-case.repository.ts
  apps/services/legal-evidence-service/src/infrastructure/repositories/prisma-evidence.repository.ts
  apps/services/legal-evidence-service/src/infrastructure/repositories/prisma-report.repository.ts
  apps/services/legal-evidence-service/src/legal-evidence.module.ts
  apps/services/legal-evidence-service/src/main.ts
  apps/services/legal-evidence-service/src/presentation/controllers/cases.controller.ts
  apps/services/legal-evidence-service/src/presentation/dtos/generate-report-request.dto.ts
  apps/services/legal-evidence-service/src/presentation/dtos/report-response.dto.ts
  apps/services/legal-evidence-service/tsconfig.build.json
  apps/services/legal-evidence-service/tsconfig.json
  apps/services/legal-evidence-service/tsconfig.spec.json
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat(legal-evidence-service): add forensic export capability with manifest + custody event (#427)
  apps/services/legal-evidence-service/jest.config.cjs
  apps/services/legal-evidence-service/package.json
  apps/services/legal-evidence-service/src/__tests__/forensic-export.spec.ts
  apps/services/legal-evidence-service/src/domain/aggregates/evidence.aggregate.ts
  apps/services/legal-evidence-service/src/domain/events/evidence-exported.event.ts
  apps/services/legal-evidence-service/src/domain/events/index.ts
  apps/services/legal-evidence-service/src/domain/index.ts
  apps/services/legal-evidence-service/src/domain/services/forensic-manifest.service.ts
  apps/services/legal-evidence-service/src/domain/services/hash.service.ts
  apps/services/legal-evidence-service/tsconfig.json
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat(legal-evidence): cryptographic integrity and append-only chain of custody (#426)
  apps/services/legal-evidence-service/README.md
  apps/services/legal-evidence-service/jest.config.cjs
  apps/services/legal-evidence-service/package.json
  apps/services/legal-evidence-service/prisma/schema.prisma
  apps/services/legal-evidence-service/src/__tests__/custody-append-only.spec.ts
  apps/services/legal-evidence-service/src/__tests__/hash-consistency.spec.ts
  apps/services/legal-evidence-service/src/application/services/evidence.service.ts
  apps/services/legal-evidence-service/src/domain/aggregates/evidence.aggregate.ts
  apps/services/legal-evidence-service/src/domain/entities/chain-of-custody-event.entity.ts
  apps/services/legal-evidence-service/src/domain/repositories/evidence.repository.ts
  apps/services/legal-evidence-service/src/domain/services/hash.service.ts
  apps/services/legal-evidence-service/src/domain/value-objects/hash-record.vo.ts
  apps/services/legal-evidence-service/tsconfig.json
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Harden chain-of-custody immutability across Prisma schema, repository, and middleware (#429)
  apps/services/legal-evidence-service/prisma/schema.prisma
  apps/services/legal-evidence-service/src/__tests__/custody-event-immutability.middleware.spec.ts
  apps/services/legal-evidence-service/src/infrastructure/prisma/custody-event-immutability.middleware.ts
  apps/services/legal-evidence-service/src/infrastructure/repositories/prisma-evidence.repository.ts
  apps/services/legal-evidence-service/src/legal-evidence.module.ts
  docs/SECURITY.md
  prisma/schema.prisma
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Sign forensic manifests and add evidence signature verification endpoint (#430)
  apps/services/legal-evidence-service/README.md
  apps/services/legal-evidence-service/src/__tests__/forensic-export.spec.ts
  apps/services/legal-evidence-service/src/application/use-cases/verify-evidence-manifest.use-case.ts
  apps/services/legal-evidence-service/src/domain/services/forensic-manifest.service.ts
  apps/services/legal-evidence-service/src/legal-evidence.module.ts
  apps/services/legal-evidence-service/src/presentation/controllers/evidence.controller.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Add evidence access audit trail (logs + custody events) and case-level access-log endpoint (#431)
  apps/services/legal-evidence-service/prisma/schema.prisma
  apps/services/legal-evidence-service/src/application/use-cases/__tests__/generate-report.use-case.spec.ts
  apps/services/legal-evidence-service/src/application/use-cases/__tests__/get-case-access-log.use-case.spec.ts
  apps/services/legal-evidence-service/src/application/use-cases/generate-report.use-case.ts
  apps/services/legal-evidence-service/src/application/use-cases/get-case-access-log.use-case.ts
  apps/services/legal-evidence-service/src/domain/entities/access-log.entity.ts
  apps/services/legal-evidence-service/src/domain/entities/chain-of-custody-event.entity.ts
  apps/services/legal-evidence-service/src/domain/repositories/access-log.repository.ts
  apps/services/legal-evidence-service/src/infrastructure/repositories/prisma-access-log.repository.ts
  apps/services/legal-evidence-service/src/legal-evidence.module.ts
  apps/services/legal-evidence-service/src/presentation/controllers/cases.controller.ts
  apps/services/legal-evidence-service/src/presentation/dtos/access-log-response.dto.ts
  apps/services/legal-evidence-service/src/presentation/middleware/__tests__/evidence-access.middleware.spec.ts
  apps/services/legal-evidence-service/src/presentation/middleware/evidence-access.middleware.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Professionalize legal-evidence-service observability with structured logging and request correlation IDs (#433)
  apps/services/legal-evidence-service/src/__tests__/forensic-export.spec.ts
  apps/services/legal-evidence-service/src/application/services/evidence.service.ts
  apps/services/legal-evidence-service/src/application/use-cases/__tests__/generate-report.use-case.spec.ts
  apps/services/legal-evidence-service/src/application/use-cases/generate-report.use-case.ts
  apps/services/legal-evidence-service/src/domain/aggregates/evidence.aggregate.ts
  apps/services/legal-evidence-service/src/main.ts
  apps/services/legal-evidence-service/src/presentation/controllers/cases.controller.ts
  apps/services/legal-evidence-service/src/shared/structured-logger.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Add tenant isolation across legal evidence domain, persistence, and report flow (#432)
  apps/services/legal-evidence-service/prisma/schema.prisma
  apps/services/legal-evidence-service/src/__tests__/custody-append-only.spec.ts
  apps/services/legal-evidence-service/src/__tests__/forensic-export.spec.ts
  apps/services/legal-evidence-service/src/application/use-cases/__tests__/generate-report.use-case.spec.ts
  apps/services/legal-evidence-service/src/application/use-cases/generate-report.use-case.ts
  apps/services/legal-evidence-service/src/domain/aggregates/case.aggregate.ts
  apps/services/legal-evidence-service/src/domain/aggregates/evidence.aggregate.ts
  apps/services/legal-evidence-service/src/domain/entities/access-log.entity.ts
  apps/services/legal-evidence-service/src/domain/entities/chain-of-custody-event.entity.ts
  apps/services/legal-evidence-service/src/domain/repositories/access-log.repository.ts
  apps/services/legal-evidence-service/src/domain/repositories/case.repository.ts
  apps/services/legal-evidence-service/src/domain/repositories/evidence.repository.ts
  apps/services/legal-evidence-service/src/infrastructure/repositories/prisma-access-log.repository.ts
  apps/services/legal-evidence-service/src/infrastructure/repositories/prisma-case.repository.ts
  apps/services/legal-evidence-service/src/infrastructure/repositories/prisma-evidence.repository.ts
  apps/services/legal-evidence-service/src/legal-evidence.module.ts
  apps/services/legal-evidence-service/src/presentation/controllers/cases.controller.ts
  apps/services/legal-evidence-service/src/presentation/middleware/tenant-validation.middleware.spec.ts
  apps/services/legal-evidence-service/src/presentation/middleware/tenant-validation.middleware.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

fix: apps/services/order-service/Dockerfile.dev to reduce vulnerabilities
  apps/services/order-service/Dockerfile.dev
Due: none

fix: apps/services/order-service/Dockerfile.dev to reduce vulnerabilities (#435)
  apps/services/order-service/Dockerfile.dev
Due: none

[WIP] Remove hardcoded JWT secret for security (#437)
  apps/infrastructure/gateway/src/auth/strategies/jwt.strategy.ts
  apps/infrastructure/gateway/src/common/middleware/jwt-auth.middleware.ts
  apps/services/auth-service/src/middleware/security.middleware.ts
  src/modules/auth/jwt.strategy.ts
  src/modules/auth/presentation/strategies/jwt.strategy.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

fix: remove hardcoded JWT secret fallbacks (CWE-547) (#438)
  apps/services/auth-service/src/auth.module.ts
  apps/services/auth-service/src/middleware/security.middleware.ts
  src/modules/auth/auth.module.ts
  src/modules/auth/jwt.strategy.ts
  src/modules/auth/presentation/strategies/jwt.strategy.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

fix(security): remove hardcoded JWT secret fallbacks (CWE-547) (#439)
  apps/services/auth-service/src/auth.module.ts
  src/modules/auth/auth.module.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write
