Repository Neiland85/a4co-ddd-microservices: changes, and which lint-staged commands are due for each by the changed paths.
All: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat(dashboard-client): setup inicial con Header, Sidebar y config Next.js + Tailwind
  apps/dashboard-client/.gitignore
  apps/dashboard-client/README.md
  apps/dashboard-client/app/favicon.ico
  apps/dashboard-client/app/globals.css
  apps/dashboard-client/app/layout.tsx
  apps/dashboard-client/app/page.tsx
  apps/dashboard-client/components.json
  apps/dashboard-client/components/layout/Header.tsx
  apps/dashboard-client/components/layout/Sidebar.tsx
  apps/dashboard-client/components/layout/index.ts
  apps/dashboard-client/eslint.config.mjs
  apps/dashboard-client/lib/utils.ts
  apps/dashboard-client/next.config.mjs
  apps/dashboard-client/next.config.ts
  apps/dashboard-client/package.json
  apps/dashboard-client/postcss.config.mjs
  apps/dashboard-client/public/file.svg
  apps/dashboard-client/public/globe.svg
  apps/dashboard-client/public/logo.webp
  apps/dashboard-client/public/next.svg
  apps/dashboard-client/public/vercel.svg
  apps/dashboard-client/public/window.svg
  apps/dashboard-client/tsconfig.json
  package.json
  pnpm-lock.yaml
  tailwind.config.ts
  tsconfig.json
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat(dashboard-client): setup inicial con Header, Sidebar y config Next.js + Tailwind (#225)
  apps/dashboard-client/.gitignore
  apps/dashboard-client/README.md
  apps/dashboard-client/app/favicon.ico
  apps/dashboard-client/app/globals.css
  apps/dashboard-client/app/layout.tsx
  apps/dashboard-client/app/page.tsx
  apps/dashboard-client/components.json
  apps/dashboard-client/components/layout/Header.tsx
  apps/dashboard-client/components/layout/Sidebar.tsx
  apps/dashboard-client/components/layout/index.ts
  apps/dashboard-client/eslint.config.mjs
  apps/dashboard-client/lib/utils.ts
  apps/dashboard-client/next.config.mjs
  apps/dashboard-client/next.config.ts
  apps/dashboard-client/package.json
  apps/dashboard-client/postcss.config.mjs
  apps/dashboard-client/public/file.svg
  apps/dashboard-client/public/globe.svg
  apps/dashboard-client/public/logo.webp
  apps/dashboard-client/public/next.svg
  apps/dashboard-client/public/vercel.svg
  apps/dashboard-client/public/window.svg
  apps/dashboard-client/tsconfig.json
  package.json
  pnpm-lock.yaml
  tailwind.config.ts
  tsconfig.json
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

🔒 fix(security): remove hardcoded secrets and fix date in PR #220
  .workflows-disabled-develop.txt
  setup-docker-secrets.sh
Due: none

🔒 fix(security): remove hardcoded secrets from docker configs
  .devcontainer/docker-compose.dev.yml
  .devcontainer/init-scripts/setup.sh
  compose.dev.yaml
  setup-docker-secrets.sh
Due: none

🔒 fix(security): replace test credentials with FAKE/MOCK values
  apps/auth-service/test/test.config.js
  apps/auth-service/test/test.config.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

🧹 chore: remove accidentally committed backup directory
  .devcontainer_backup_20251104_0715/devcontainer.json
Due: prettier --write

📚 docs: add comprehensive security fixes documentation
  ENVIRONMENT_SETUP.md
  PR_220_SECURITY_FIXES.md
  PR_224_SECURITY_FIXES.md
  SECURITY_FIXES_SUMMARY.md
Due: prettier --write

Fix/security gitguardian pr220 pr224 (#226)
  .devcontainer/docker-compose.dev.yml
  .devcontainer/init-scripts/setup.sh
  .devcontainer_backup_20251104_0715/devcontainer.json
  ENVIRONMENT_SETUP.md
  PR_220_SECURITY_FIXES.md
  PR_224_SECURITY_FIXES.md
  SECURITY_FIXES_SUMMARY.md
  apps/auth-service/test/test.config.js
  apps/auth-service/test/test.config.ts
  compose.dev.yaml
  setup-docker-secrets.sh
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat: disable all workflows in develop branch for clean merge (#220)
  .workflows-disabled-develop.txt
Due: none

feat: add monitoring dashboard documentation and dependencies
  MONITORING_DASHBOARD_README.md
  pnpm-lock.yaml
Due: prettier --write

feat: add monitoring dashboard documentation and dependencies (#227)
  MONITORING_DASHBOARD_README.md
  pnpm-lock.yaml
Due: prettier --write

fix(deps): corregir versiones de dependencias NestJS
  apps/auth-service/package.json
  apps/inventory-service/package.json
  apps/notification-service/package.json
  apps/order-service/package.json
  apps/payment-service/package.json
  apps/transportista-service/package.json
  apps/user-service/package.json
Due: prettier --write

🧹 chore: remove duplicate .devcontainer/.devcontainer/ directory
  .devcontainer/.devcontainer/Dockerfile
  .devcontainer/.devcontainer/devcontainer.json
  .devcontainer/.devcontainer/docker-compose.dev.yml
  .devcontainer/.devcontainer/init-scripts/healthcheck.sh
  .devcontainer/.devcontainer/init-scripts/setup.sh
Due: prettier --write

fix(auth-service): remove duplicate "start" script in package.json
  apps/auth-service/package.json
Due: prettier --write

ci: add GitHub Actions pipeline for Docker images (dev)
  .github/workflows/build-and-publish.yml
Due: none

ci: add GitHub Actions pipeline for Docker images (dev) (#228)
  .github/workflows/build-and-publish.yml
Due: none

Refactor: Configure Tailwind CSS and PostCSS
  apps/dashboard-client/app/globals.css
  apps/dashboard-client/postcss.config.js
  apps/dashboard-client/postcss.config.mjs
  apps/dashboard-client/tailwind.config.js
Due: prettier --write

Refactor: Update Docker build contexts to root directory
  .github/workflows/build-and-publish.yml
Due: none

Update GitHub Actions checkout and setup versions
  .github/workflows/build-and-publish.yml
Due: none

Refactor: Update dependencies and Tailwind CSS configuration
  apps/dashboard-client/package.json
  apps/dashboard-client/postcss.config.js
  apps/dashboard-client/tailwind.config.js
  apps/dashboard-client/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

Fix tailwind css docker build error (#229)
  .github/workflows/build-and-publish.yml
  apps/dashboard-client/app/globals.css
  apps/dashboard-client/package.json
  apps/dashboard-client/postcss.config.js
  apps/dashboard-client/postcss.config.mjs
  apps/dashboard-client/tailwind.config.js
  apps/dashboard-client/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

feat: Add NGINX production config and validation script
  infra/docker/NGINX_CONFIG_README.md
  infra/docker/nginx.prod.conf
  infra/docker/validate-nginx.sh
Due: prettier --write

feat: Add production Dockerfiles and Next.js standalone config
  apps/dashboard-client/Dockerfile.prod
  apps/dashboard-client/next.config.ts
  apps/frontend/Dockerfile.prod
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat: Add Nginx configuration for production deployment
  infra/docker/nginx.prod.conf
Due: none

feat: Optimize Docker builds with pnpm cache and multi-stage
  .github/workflows/docker-build-optimized.yml
  .npmrc
  DOCKER_BUILD_OPTIMIZATION.md
  apps/dashboard-client/.dockerignore
  apps/dashboard-client/Dockerfile.prod
  apps/dashboard-client/next.config.mjs
  apps/frontend/.dockerignore
  apps/frontend/Dockerfile.prod
Due: prettier --write

feat: Add production Dockerfiles for dashboard and frontend
  apps/dashboard-client/Dockerfile.prod
  apps/frontend/Dockerfile.prod
Due: none

feat: Add Nginx configuration for production deployment (#230)
  infra/docker/nginx.prod.conf
Due: none

feat: Add production Dockerfiles and Next.js standalone config (#231)
  apps/dashboard-client/Dockerfile.prod
  apps/dashboard-client/next.config.ts
  apps/frontend/Dockerfile.prod
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat: Implement Order Saga and related features
  apps/order-service/README.md
  apps/order-service/prisma/schema.prisma
  apps/order-service/src/__tests__/unit/create-order.use-case.spec.ts
  apps/order-service/src/__tests__/unit/order.entity.spec.ts
  apps/order-service/src/__tests__/unit/order.saga.spec.ts
  apps/order-service/src/application/sagas/order.saga.ts
  apps/order-service/src/application/use-cases/create-order.use-case.ts
  apps/order-service/src/domain/aggregates/order.aggregate.ts
  apps/order-service/src/domain/index.ts
  apps/order-service/src/domain/value-objects/address.vo.ts
  apps/order-service/src/domain/value-objects/customer-id.vo.ts
  apps/order-service/src/domain/value-objects/index.ts
  apps/order-service/src/domain/value-objects/money.vo.ts
  apps/order-service/src/domain/value-objects/order-status.vo.ts
  apps/order-service/src/infrastructure/database/database.module.ts
  apps/order-service/src/infrastructure/nats/nats.constants.ts
  apps/order-service/src/infrastructure/repositories/prisma-order.repository.ts
  apps/order-service/src/main.ts
  apps/order-service/src/order.module.ts
  apps/order-service/src/presentation/controllers/controller.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat: Implement payment service with DDD and Stripe integration
  apps/payment-service/.env.example
  apps/payment-service/README.md
  apps/payment-service/package.json
  apps/payment-service/prisma/schema.prisma
  apps/payment-service/src/__tests__/unit/payment.entity.spec.ts
  apps/payment-service/src/application/handlers/order-events.handler.ts
  apps/payment-service/src/application/use-cases/process-payment.use-case.ts
  apps/payment-service/src/application/use-cases/refund-payment.use-case.ts
  apps/payment-service/src/domain/entities/payment.entity.ts
  apps/payment-service/src/domain/events/payment.events.ts
  apps/payment-service/src/domain/repositories/payment.repository.ts
  apps/payment-service/src/domain/services/payment-domain.service.ts
  apps/payment-service/src/domain/value-objects/money.vo.ts
  apps/payment-service/src/domain/value-objects/payment-id.vo.ts
  apps/payment-service/src/domain/value-objects/payment-status.vo.ts
  apps/payment-service/src/domain/value-objects/stripe-payment-intent.vo.ts
  apps/payment-service/src/index.ts
  apps/payment-service/src/infrastructure/database/prisma.service.ts
  apps/payment-service/src/infrastructure/events/nats-event-publisher.ts
  apps/payment-service/src/infrastructure/repositories/prisma-payment.repository.ts
  apps/payment-service/src/infrastructure/stripe.gateway.ts
  apps/payment-service/src/payment.module.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Refactor: Implement Order Saga and DDD principles
  apps/order-service/README.md
  apps/order-service/prisma/schema.prisma
  apps/order-service/src/__tests__/integration/create-order.integration.spec.ts
  apps/order-service/src/__tests__/unit/order.entity.spec.ts
  apps/order-service/src/__tests__/unit/order.saga.spec.ts
  apps/order-service/src/application/sagas/order.saga.ts
  apps/order-service/src/application/use-cases/create-order.use-case.ts
  apps/order-service/src/contracts/api/v1/dto.ts
  apps/order-service/src/domain/aggregates/order.aggregate.ts
  apps/order-service/src/domain/index.ts
  apps/order-service/src/domain/value-objects/address.vo.ts
  apps/order-service/src/domain/value-objects/customer-id.vo.ts
  apps/order-service/src/domain/value-objects/index.ts
  apps/order-service/src/domain/value-objects/money.vo.ts
  apps/order-service/src/domain/value-objects/order-status.vo.ts
  apps/order-service/src/infrastructure/database/database.module.ts
  apps/order-service/src/infrastructure/nats/nats.constants.ts
  apps/order-service/src/infrastructure/nats/nats.module.ts
  apps/order-service/src/infrastructure/nats/nats.service.ts
  apps/order-service/src/infrastructure/repositories/prisma-order.repository.ts
  apps/order-service/src/main.ts
  apps/order-service/src/order.module.ts
  apps/order-service/src/presentation/controllers/controller.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat: Implement payment service with DDD and Stripe integration
  apps/payment-service/.env.example
  apps/payment-service/README.md
  apps/payment-service/package.json
  apps/payment-service/prisma/schema.prisma
  apps/payment-service/src/__tests__/unit/payment.entity.spec.ts
  apps/payment-service/src/__tests__/unit/process-payment.use-case.spec.ts
  apps/payment-service/src/application/handlers/order-events.handler.ts
  apps/payment-service/src/application/index.ts
  apps/payment-service/src/application/use-cases/process-payment.use-case.ts
  apps/payment-service/src/application/use-cases/refund-payment.use-case.ts
  apps/payment-service/src/domain/entities/payment.entity.ts
  apps/payment-service/src/domain/events/index.ts
  apps/payment-service/src/domain/events/payment-events.ts
  apps/payment-service/src/domain/index.ts
  apps/payment-service/src/domain/repositories/payment.repository.ts
  apps/payment-service/src/domain/services/payment-domain.service.ts
  apps/payment-service/src/domain/value-objects/index.ts
  apps/payment-service/src/domain/value-objects/money.vo.ts
  apps/payment-service/src/domain/value-objects/payment-id.vo.ts
  apps/payment-service/src/domain/value-objects/payment-status.vo.ts
  apps/payment-service/src/domain/value-objects/stripe-payment-intent.vo.ts
  apps/payment-service/src/infrastructure/repositories/prisma-payment.repository.ts
  apps/payment-service/src/infrastructure/stripe.gateway.ts
  apps/payment-service/src/payment.module.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat: Implement payment service with DDD and NATS integration
  apps/payment-service/.env.example
  apps/payment-service/README.md
  apps/payment-service/package.json
  apps/payment-service/prisma/schema.prisma
  apps/payment-service/src/application/handlers/order-events.handler.ts
  apps/payment-service/src/application/use-cases/process-payment.use-case.ts
  apps/payment-service/src/application/use-cases/refund-payment.use-case.ts
  apps/payment-service/src/domain/entities/payment.entity.ts
  apps/payment-service/src/domain/events/payment.events.ts
  apps/payment-service/src/domain/repositories/payment.repository.ts
  apps/payment-service/src/domain/services/payment-domain.service.ts
  apps/payment-service/src/domain/value-objects/money.vo.ts
  apps/payment-service/src/domain/value-objects/payment-id.vo.ts
  apps/payment-service/src/domain/value-objects/payment-status.vo.ts
  apps/payment-service/src/domain/value-objects/stripe-payment-intent.vo.ts
  apps/payment-service/src/infrastructure/nats/nats.constants.ts
  apps/payment-service/src/infrastructure/nats/nats.module.ts
  apps/payment-service/src/infrastructure/nats/nats.service.ts
  apps/payment-service/src/infrastructure/repositories/prisma-payment.repository.ts
  apps/payment-service/src/infrastructure/stripe.gateway.ts
  apps/payment-service/src/main.ts
  apps/payment-service/src/payment.module.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Refactor: Implement DDD and Saga pattern for inventory management
  apps/inventory-service/README.md
  apps/inventory-service/prisma/schema.prisma
  apps/inventory-service/src/application/handlers/order-events.handler.ts
  apps/inventory-service/src/application/use-cases/confirm-stock.use-case.ts
  apps/inventory-service/src/application/use-cases/reserve-stock.use-case.spec.ts
  apps/inventory-service/src/application/use-cases/reserve-stock.use-case.ts
  apps/inventory-service/src/domain/entities/product.entity.spec.ts
  apps/inventory-service/src/domain/entities/product.entity.ts
  apps/inventory-service/src/domain/events/index.ts
  apps/inventory-service/src/domain/events/inventory.events.ts
  apps/inventory-service/src/domain/value-objects/index.ts
  apps/inventory-service/src/domain/value-objects/product-id.vo.ts
  apps/inventory-service/src/domain/value-objects/sku.vo.ts
  apps/inventory-service/src/domain/value-objects/stock-quantity.vo.ts
  apps/inventory-service/src/domain/value-objects/warehouse-location.vo.ts
  apps/inventory-service/src/infrastructure/events/event-publisher.service.ts
  apps/inventory-service/src/infrastructure/interceptors/event-publisher.interceptor.ts
  apps/inventory-service/src/infrastructure/repositories/prisma-product.repository.ts
  apps/inventory-service/src/infrastructure/repositories/product.repository.ts
  apps/inventory-service/src/inventory.module.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Refactor: Implement Order Saga and DDD principles (#232)
  apps/order-service/README.md
  apps/order-service/prisma/schema.prisma
  apps/order-service/src/__tests__/integration/create-order.integration.spec.ts
  apps/order-service/src/__tests__/unit/order.entity.spec.ts
  apps/order-service/src/__tests__/unit/order.saga.spec.ts
  apps/order-service/src/application/sagas/order.saga.ts
  apps/order-service/src/application/use-cases/create-order.use-case.ts
  apps/order-service/src/contracts/api/v1/dto.ts
  apps/order-service/src/domain/aggregates/order.aggregate.ts
  apps/order-service/src/domain/index.ts
  apps/order-service/src/domain/value-objects/address.vo.ts
  apps/order-service/src/domain/value-objects/customer-id.vo.ts
  apps/order-service/src/domain/value-objects/index.ts
  apps/order-service/src/domain/value-objects/money.vo.ts
  apps/order-service/src/domain/value-objects/order-status.vo.ts
  apps/order-service/src/infrastructure/database/database.module.ts
  apps/order-service/src/infrastructure/nats/nats.constants.ts
  apps/order-service/src/infrastructure/nats/nats.module.ts
  apps/order-service/src/infrastructure/nats/nats.service.ts
  apps/order-service/src/infrastructure/repositories/prisma-order.repository.ts
  apps/order-service/src/main.ts
  apps/order-service/src/order.module.ts
  apps/order-service/src/presentation/controllers/controller.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat: Implement inventory saga and DDD patterns
  apps/inventory-service/README.md
  apps/inventory-service/package.json
  apps/inventory-service/src/__tests__/integration/inventory-saga.integration.spec.ts
  apps/inventory-service/src/application/handlers/order-events.handler.ts
  apps/inventory-service/src/application/use-cases/check-inventory.use-case.ts
  apps/inventory-service/src/application/use-cases/confirm-stock.use-case.ts
  apps/inventory-service/src/application/use-cases/reserve-stock.use-case.ts
  apps/inventory-service/src/domain/entities/product.entity.spec.ts
  apps/inventory-service/src/domain/entities/product.entity.ts
  apps/inventory-service/src/domain/events/index.ts
  apps/inventory-service/src/domain/events/inventory-out-of-stock.event.ts
  apps/inventory-service/src/domain/events/inventory-released.event.ts
  apps/inventory-service/src/domain/events/inventory-reserved.event.ts
  apps/inventory-service/src/domain/events/low-stock.event.ts
  apps/inventory-service/src/domain/events/stock-deducted.event.ts
  apps/inventory-service/src/domain/events/stock-replenished.event.ts
  apps/inventory-service/src/domain/value-objects/index.ts
  apps/inventory-service/src/domain/value-objects/product-id.vo.ts
  apps/inventory-service/src/domain/value-objects/sku.vo.ts
  apps/inventory-service/src/domain/value-objects/stock-quantity.vo.ts
  apps/inventory-service/src/domain/value-objects/value-objects.spec.ts
  apps/inventory-service/src/domain/value-objects/warehouse-location.vo.ts
  apps/inventory-service/src/infrastructure/events/aggregate-event-publisher.service.ts
  apps/inventory-service/src/infrastructure/events/event-publisher.service.ts
  apps/inventory-service/src/infrastructure/interceptors/aggregate-event.interceptor.ts
  apps/inventory-service/src/infrastructure/repositories/prisma-product.repository.ts
  apps/inventory-service/src/infrastructure/repositories/product.repository.ts
  apps/inventory-service/src/inventory.module.ts
  apps/inventory-service/src/main.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat: Implement DDD and event-driven inventory management
  apps/inventory-service/README.md
  apps/inventory-service/package.json
  apps/inventory-service/src/application/handlers/order-events.handler.ts
  apps/inventory-service/src/application/use-cases/confirm-stock.use-case.ts
  apps/inventory-service/src/application/use-cases/reserve-stock.use-case.ts
  apps/inventory-service/src/domain/entities/product.entity.spec.ts
  apps/inventory-service/src/domain/entities/product.entity.ts
  apps/inventory-service/src/domain/events/index.ts
  apps/inventory-service/src/domain/events/inventory-events.ts
  apps/inventory-service/src/domain/value-objects/index.ts
  apps/inventory-service/src/domain/value-objects/product-id.vo.ts
  apps/inventory-service/src/domain/value-objects/sku.vo.ts
  apps/inventory-service/src/domain/value-objects/stock-quantity.vo.ts
  apps/inventory-service/src/domain/value-objects/warehouse-location.vo.ts
  apps/inventory-service/src/infrastructure/events/domain-event-dispatcher.service.ts
  apps/inventory-service/src/infrastructure/events/event-publisher.service.ts
  apps/inventory-service/src/infrastructure/repositories/prisma-product.repository.ts
  apps/inventory-service/src/infrastructure/repositories/product-repository-with-events.ts
  apps/inventory-service/src/infrastructure/repositories/product.repository.ts
  apps/inventory-service/src/inventory.module.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat: Implement payment service with DDD and Stripe integration
  apps/payment-service/.env.example
  apps/payment-service/README.md
  apps/payment-service/prisma/schema.prisma
  apps/payment-service/src/__tests__/unit/money.vo.spec.ts
  apps/payment-service/src/__tests__/unit/payment.entity.spec.ts
  apps/payment-service/src/application/handlers/order-events.handler.ts
  apps/payment-service/src/application/use-cases/index.ts
  apps/payment-service/src/application/use-cases/process-payment.use-case.ts
  apps/payment-service/src/application/use-cases/refund-payment.use-case.ts
  apps/payment-service/src/domain/base-classes.ts
  apps/payment-service/src/domain/entities/index.ts
  apps/payment-service/src/domain/entities/payment.entity.ts
  apps/payment-service/src/domain/events/index.ts
  apps/payment-service/src/domain/events/payment-events.ts
  apps/payment-service/src/domain/index.ts
  apps/payment-service/src/domain/repositories/payment.repository.ts
  apps/payment-service/src/domain/services/payment-domain.service.ts
  apps/payment-service/src/domain/value-objects/index.ts
  apps/payment-service/src/domain/value-objects/money.vo.ts
  apps/payment-service/src/domain/value-objects/payment-id.vo.ts
  apps/payment-service/src/domain/value-objects/payment-status.vo.ts
  apps/payment-service/src/domain/value-objects/stripe-payment-intent.vo.ts
  apps/payment-service/src/infrastructure/repositories/prisma-payment.repository.ts
  apps/payment-service/src/infrastructure/stripe.gateway.ts
  apps/payment-service/src/payment.module.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat: Optimize Docker builds with pnpm cache and multi-stage (#233)
  .github/workflows/docker-build-optimized.yml
  .npmrc
  DOCKER_BUILD_OPTIMIZATION.md
  apps/dashboard-client/.dockerignore
  apps/dashboard-client/Dockerfile.prod
  apps/dashboard-client/next.config.mjs
  apps/frontend/.dockerignore
  apps/frontend/Dockerfile.prod
Due: prettier --write

Path conditions:
  ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,json,md,css})
