Repository Neiland85/a4co-ddd-microservices: changes, and which lint-staged commands are due for each by the changed paths.
All: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{js,jsx,json,md,css}": ["prettier --write"]
}

chore: include workspace + shared-events inventory exports
  a4co-monorepo.code-workspace
  apps/infrastructure/gateway/tsconfig.build.json
  apps/services/product-service/src/common/prisma/prisma.service.ts
  packages/domain/order/tsconfig.build.json
  packages/shared-events/src/events/inventory/index.ts
  packages/shared-events/src/events/inventory/inventory-failed.v1.ts
  packages/shared-events/src/events/inventory/inventory-released.v1.ts
  packages/shared-events/src/events/inventory/inventory-reserved.v1.ts
  packages/shared-utils/tsconfig.build.json
  scripts/bootstrap-final.sh
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

fix(dashboard-client): use shared cn util
  apps/dashboard-client/components/ui/form.tsx
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

ci: add PR build gate
  .github/workflows/ci.yml
  package.json
Due: prettier --write

test: align e2e compose + add manual workflow
  .github/workflows/e2e.yml
  docker-compose.test.yml
  package.json
  scripts/run-e2e-tests.sh
Due: prettier --write

chore: stabilize cspell dict hook
  docs/cspell-dictionary.md
  scripts/update-cspell-dicts.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

chore: keep post-commit hook non-dirty
  docs/cspell-dictionary.md
  scripts/update-cspell-dicts.ts
  scripts/update-dicts-safe.sh
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Replace restricted pnpm/action-setup with local action (#394)
  .github/actions/setup-monorepo/action.yml
Due: none

fix: repair broken pnpm lockfile
  pnpm-lock.yaml
Due: none

fix(frontend): remove duplicate deps and align vite/types
  apps/frontend/package.json
Due: prettier --write

ci(e2e): skip prisma and package builds in setup
  .github/workflows/e2e.yml
Due: none

fix(gateway): deterministic docker build and dist output
  apps/infrastructure/gateway/Dockerfile
  apps/infrastructure/gateway/tsconfig.build.json
  apps/infrastructure/gateway/tsconfig.json
Due: prettier --write

fix(gateway): strict DTOs and build tsconfig
  apps/infrastructure/gateway/src/auth/dto/auth.dto.ts
  apps/infrastructure/gateway/tsconfig.build.json
  apps/infrastructure/gateway/tsconfig.json
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

docs: add senior technical audit diagnosis report
  AUDITORIA_TECNICA_SENIOR.md
Due: prettier --write

docs: add senior technical audit diagnosis report (#403)
  AUDITORIA_TECNICA_SENIOR.md
Due: prettier --write

build: stabilize critical monorepo subset and reactivate ci
  .github/workflows/ci.yml
  AUDITORIA_TECNICA_SENIOR.md
  apps/infrastructure/gateway/src/auth/dto/auth.dto.ts
  apps/infrastructure/gateway/src/common/guards/jwt-auth.guard.ts
  apps/infrastructure/gateway/src/proxy/proxy.service.ts
  apps/infrastructure/gateway/tsconfig.build.json
  apps/infrastructure/gateway/tsconfig.json
  apps/services/auth-service/package.json
  apps/services/auth-service/tsconfig.json
  apps/services/inventory-service/tsconfig.json
  apps/services/payment-service/tsconfig.json
  apps/services/product-service/tsconfig.json
  apps/services/user-service/tsconfig.json
  package.json
  packages/@a4co/shared-events/apps/services/product-service/src/application/mappers/product-event.mapper.ts
  packages/@a4co/shared-events/package.json
  packages/@a4co/shared-events/project.json
  packages/@a4co/shared-events/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

build: stabilize critical monorepo subset and reactivate ci (#404)
  .github/workflows/ci.yml
  apps/infrastructure/gateway/src/auth/dto/auth.dto.ts
  apps/infrastructure/gateway/src/common/guards/jwt-auth.guard.ts
  apps/infrastructure/gateway/src/proxy/proxy.service.ts
  apps/infrastructure/gateway/tsconfig.build.json
  apps/infrastructure/gateway/tsconfig.json
  apps/services/auth-service/package.json
  apps/services/auth-service/tsconfig.json
  apps/services/inventory-service/tsconfig.json
  apps/services/payment-service/tsconfig.json
  apps/services/product-service/tsconfig.json
  apps/services/user-service/tsconfig.json
  package.json
  packages/@a4co/shared-events/apps/services/product-service/src/application/mappers/product-event.mapper.ts
  packages/@a4co/shared-events/package.json
  packages/@a4co/shared-events/project.json
  packages/@a4co/shared-events/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

fix: stabilize productive workspace build and lint pipeline
  apps/services/auth-service/src/middleware/security.middleware.ts
  apps/services/order-service/package.json
  apps/services/payment-service/src/presentation/payment.controller.ts
  apps/services/product-service/package.json
  apps/services/product-service/src/domain/value-objects/product-value-objects.ts
  apps/services/user-service/package.json
  docker-compose.prod.yml
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

chore: harden services, align prod compose with canonical paths
  apps/services/auth-service/src/middleware/security.middleware.ts
  apps/services/order-service/package.json
  apps/services/payment-service/src/presentation/payment.controller.ts
  apps/services/product-service/package.json
  apps/services/product-service/src/domain/value-objects/product-value-objects.ts
  apps/services/user-service/package.json
  docker-compose.prod.yml
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

build: stabilize workspace scope and hook scripts
  package.json
  pnpm-workspace.yaml
Due: prettier --write

chore(release): stabilize workspace and canonical build paths (phase 2)
  package.json
  pnpm-workspace.yaml
Due: prettier --write

docs: tighten phase 3 release gate audit verdict
  docs/RELEASE_GATE_FASE3_3.md
  docs/RELEASE_GATE_FASE3_4.md
Due: prettier --write

chore: freeze lint scripts for FASE 3 stabilization
  apps/services/payment-service/package.json
  apps/services/user-service/package.json
  package.json
  packages/design-system/h-modern-dashboard/package.json
Due: prettier --write

chore: freeze lint scripts for FASE 3 stabilization (#408)
  apps/services/payment-service/package.json
  apps/services/user-service/package.json
  package.json
  packages/design-system/h-modern-dashboard/package.json
Due: prettier --write

docs: tighten phase 3 release gate audit verdict (#407)
  docs/RELEASE_GATE_FASE3_3.md
  docs/RELEASE_GATE_FASE3_4.md
Due: prettier --write

docs: add comprehensive technical audit report for monorepo
  docs/AUDIT-TECNICA-2026-02.md
  docs/cspell-dictionary.md
Due: prettier --write

docs: add comprehensive technical audit report for monorepo (#409)
  docs/AUDIT-TECNICA-2026-02.md
  docs/cspell-dictionary.md
Due: prettier --write

docs: restore clean cspell dictionary content
  docs/AUDIT-TECNICA-2026-02.md
  docs/cspell-dictionary.md
Due: prettier --write

docs: restore clean cspell dictionary content (#410)
  docs/AUDIT-TECNICA-2026-02.md
Due: prettier --write

docs: add openai-style execution playbook to audit report
  docs/AUDIT-TECNICA-2026-02.md
  docs/cspell-dictionary.md
Due: prettier --write

docs: add openai-style execution playbook to audit report (#411)
  docs/AUDIT-TECNICA-2026-02.md
Due: prettier --write

ci: add lint gate and security/compliance visibility job
  .github/workflows/ci.yml
  docs/AUDIT-TECNICA-2026-02.md
  docs/cspell-dictionary.md
Due: prettier --write

ci: add lint gate and security/compliance visibility job (#412)
  .github/workflows/ci.yml
Due: none

security: patch next.js to mitigate react flight protocol issue
  .github/workflows/ci.yml
  apps/dashboard-client/package.json
  docs/AUDIT-TECNICA-2026-02.md
  docs/cspell-dictionary.md
  packages/design-system/h-modern-dashboard/package.json
  pnpm-lock.yaml
Due: prettier --write

security: patch next.js to mitigate react flight protocol issue (#413)
  apps/dashboard-client/package.json
  packages/design-system/h-modern-dashboard/package.json
  pnpm-lock.yaml
Due: prettier --write

ci: enforce next.js advisory gate in security visibility job
  .github/workflows/ci.yml
  apps/dashboard-client/package.json
  docs/AUDIT-TECNICA-2026-02.md
  docs/cspell-dictionary.md
  packages/design-system/h-modern-dashboard/package.json
  pnpm-lock.yaml
Due: prettier --write

ci: enforce next.js advisory gate in security visibility job (#414)
  .github/workflows/ci.yml
  pnpm-lock.yaml
Due: none

docs: add concrete next steps runbook for react flight risk
  .github/workflows/ci.yml
  apps/dashboard-client/package.json
  docs/AUDIT-TECNICA-2026-02.md
  docs/NEXT_STEPS_REACT_FLIGHT_RCE.md
  docs/cspell-dictionary.md
  packages/design-system/h-modern-dashboard/package.json
  pnpm-lock.yaml
Due: prettier --write

docs: add concrete next steps runbook for react flight risk (#415)
  docs/NEXT_STEPS_REACT_FLIGHT_RCE.md
  pnpm-lock.yaml
Due: prettier --write
