Repository Neiland85/a4co-ddd-microservices: changes, and which lint-staged commands are due for each by the changed paths.
All: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{js,jsx,json,md,css}": ["prettier --write"]
}

fix: update design-system ESLint config to use root configuration
  packages/design-system/.eslintrc.js
Due: prettier --write

Security and ESLint improvements
  .github/workflows/release.yml
  .github/workflows/sonarcloud.yml
  Dockerfile
  apps/notification-service/.eslintrc.js
  eslint.config.js
Due: prettier --write

chore(deps): bump python-multipart to 0.0.18 to fix DoS vulnerability
  apps/transportista-service/requirements.txt
Due: none

fix: resolve merge conflicts in configuration files and scripts
  .devcontainer/devcontainer.json
  .github/copilot-instructions.md
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .markdownlint.json
  examples/order-creation-saga-example.ts.bak
  hooks/use-dashboard-metrics.ts.bak
  hooks/use-debounced-metrics.ts.bak
  hooks/use-section-transition.ts.bak
  hooks/use-toast.ts.bak
  jest.coverage.config.js
  scripts/analyze-technical-debt.ts
  scripts/bundle-killer.ts
  scripts/complexity-hotspots.ts
  scripts/refactor-duplicated-code.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

fix: resolve merge conflicts in workflow files
  .github/workflows/feature-flags.yml
  .github/workflows/test-coverage.yml
Due: none

fix: resolve CI/CD conflict and setup dev environment
  .env.example
  .github/workflows/ci.yml
  .sonarlint/connectedMode.json
  .vscode/settings.json
  INFORME_ESTADO_MONOREPO.md
  a4co-ddd-microservices.code-workspace
  compose.dev.yaml
  scripts/dev-setup.sh
Due: prettier --write

fix: update compose.dev.yaml - remove obsolete version field and use stable NATS image
  compose.dev.yaml
Due: none

fix: update GitHub Actions to verified versions
  .github/workflows/ci.yml
Due: none

fix: replace pnpm/action-setup with manual installation
  .github/workflows/ci.yml
Due: none

fix: update GitHub Actions to latest stable versions (v3, v4, v5)
  .github/workflows/ci.yml
Due: none

fix: add checkout step before git commands in SonarCloud workflow
  .github/workflows/sonarcloud.yml
Due: none

fix: update SonarCloud action to v2.1.1
  .github/workflows/sonarcloud.yml
Due: none

fix: configure SonarCloud correctly
  .sonarlint/connectedMode.json
  apps/frontend/api.ts
  sonar-project.properties
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

docs: add comprehensive project documentation and session reports
  CONFIGURAR_PERMISOS_GITHUB_ACTIONS.md
  DASHBOARD_MONITOREO.md
  ESTADO_FINAL_SESION.md
  GUIA_INICIO_DESARROLLO.md
  INSTRUCCIONES_PROBAR_FRONTEND_AUTH.md
  RECOMENDACION_FLUJO_GIT.md
  RESUMEN_CI_CD_FINAL.md
  RESUMEN_EJECUCION.md
  RESUMEN_FINAL_SESION.md
  SESION_COMPLETA_RESUMEN.md
  VERIFICACION_CI_CD.md
Due: prettier --write

fix: update CI workflow and SonarCloud configuration
  .github/workflows/ci.yml
  .sonarlint/connectedMode.json
  sonar-project.properties
Due: prettier --write

fix: update pnpm version to 10 across all workflows
  .github/workflows/ci-cd.yml
  .github/workflows/dependencies.yml
  .github/workflows/deploy.yml
Due: none

fix: update pnpm version to 10 in release workflow
  .github/workflows/release.yml
Due: none

feat(frontend): complete auth-service integration
  apps/frontend/App.tsx
  apps/frontend/components/Header.tsx
  apps/frontend/components/ProtectedRoute.tsx
  apps/frontend/components/auth/LoginModal.tsx
  apps/frontend/components/auth/ProducerAuthPage.tsx
  apps/frontend/contexts/AuthContext.tsx
  apps/frontend/index.tsx
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat(frontend): integrate product-service API
  apps/frontend/api.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat(frontend): integrate user-service API
  apps/frontend/App.tsx
  apps/frontend/api.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat(frontend): integrate order-service API
  apps/frontend/App.tsx
  apps/frontend/api.ts
  apps/frontend/components/dashboard/Dashboard.tsx
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat(frontend): integrate payment-service API
  apps/frontend/api.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

docs: add integration and testing documentation
  INTEGRACION_FRONTEND_BACKEND.md
  TESTING_INTEGRACION.md
Due: prettier --write

feat: complete frontend-backend integration (5 microservices)
  INTEGRACION_FRONTEND_BACKEND.md
  TESTING_INTEGRACION.md
  apps/frontend/App.tsx
  apps/frontend/api.ts
  apps/frontend/components/Header.tsx
  apps/frontend/components/ProtectedRoute.tsx
  apps/frontend/components/auth/LoginModal.tsx
  apps/frontend/components/auth/ProducerAuthPage.tsx
  apps/frontend/components/dashboard/Dashboard.tsx
  apps/frontend/contexts/AuthContext.tsx
  apps/frontend/index.tsx
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat: integrate remaining services (inventory, notification, transportista)
  apps/frontend/api.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

chore: add start-services.sh script for easy service startup
  scripts/start-services.sh
Due: none

docs: add complete integration documentation (8/8 services)
  INTEGRACION_COMPLETA.md
Due: prettier --write

docs: add final session summary
  RESUMEN_SESION_FINAL.md
Due: prettier --write

docs: update integration documentation
  INTEGRACION_COMPLETA.md
Due: prettier --write

feat: complete microservices integration (8/8 services 100%)
  INTEGRACION_COMPLETA.md
  RESUMEN_SESION_FINAL.md
  apps/frontend/api.ts
  scripts/start-services.sh
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat(inventory-service): complete implementation with Prisma and NestJS
  apps/inventory-service/prisma/schema.prisma
  apps/inventory-service/src/infrastructure/repositories/prisma-product.repository.ts
  apps/inventory-service/src/inventory.controller.ts
  apps/inventory-service/src/inventory.module.ts
  apps/inventory-service/src/main.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat(notification-service): add SendGrid, Twilio, and Push providers
  apps/notification-service/package.json
  apps/notification-service/src/providers/email.provider.ts
  apps/notification-service/src/providers/push.provider.ts
  apps/notification-service/src/providers/sms.provider.ts
  pnpm-lock.yaml
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat(notification-service): complete NestJS implementation
  apps/notification-service/src/main.ts
  apps/notification-service/src/notification.controller.ts
  apps/notification-service/src/notification.module.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

docs: add backend implementation summary
  BACKEND_IMPLEMENTATION_SUMMARY.md
Due: prettier --write

feat: complete backend implementation (inventory + notification services)
  BACKEND_IMPLEMENTATION_SUMMARY.md
  apps/inventory-service/prisma/schema.prisma
  apps/inventory-service/src/infrastructure/repositories/prisma-product.repository.ts
  apps/inventory-service/src/inventory.controller.ts
  apps/inventory-service/src/inventory.module.ts
  apps/inventory-service/src/main.ts
  apps/notification-service/package.json
  apps/notification-service/src/main.ts
  apps/notification-service/src/notification.controller.ts
  apps/notification-service/src/notification.module.ts
  apps/notification-service/src/providers/email.provider.ts
  apps/notification-service/src/providers/push.provider.ts
  apps/notification-service/src/providers/sms.provider.ts
  pnpm-lock.yaml
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

fix: repair corrupted workflow files and add graceful fallbacks
  .github/workflows/feature-flags.yml
  .github/workflows/test-coverage.yml
Due: none

fix: repair corrupted workflow files
  .github/workflows/feature-flags.yml
  .github/workflows/test-coverage.yml
Due: none

docs: add complete session summary
  SESION_COMPLETA_RESUMEN.md
Due: prettier --write

fix: resolve merge conflicts and fix pnpm setup order
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .markdownlint.json
  SESION_COMPLETA_RESUMEN.md
Due: prettier --write
