Repository Neiland85/a4co-ddd-microservices: changes, and which lint-staged commands are due for each by the changed paths.
All: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{js,jsx,json,md,css}": ["prettier --write"]
}

Refactor: Implement DDD and Saga pattern for inventory management (#234)
  apps/inventory-service/README.md
  apps/inventory-service/prisma/schema.prisma
  apps/inventory-service/src/application/handlers/order-events.handler.ts
  apps/inventory-service/src/application/use-cases/confirm-stock.use-case.ts
  apps/inventory-service/src/application/use-cases/reserve-stock.use-case.spec.ts
  apps/inventory-service/src/application/use-cases/reserve-stock.use-case.ts
  apps/inventory-service/src/domain/entities/product.entity.spec.ts
  apps/inventory-service/src/domain/entities/product.entity.ts
  apps/inventory-service/src/domain/events/index.ts
  apps/inventory-service/src/domain/events/inventory.events.ts
  apps/inventory-service/src/domain/value-objects/index.ts
  apps/inventory-service/src/domain/value-objects/product-id.vo.ts
  apps/inventory-service/src/domain/value-objects/sku.vo.ts
  apps/inventory-service/src/domain/value-objects/stock-quantity.vo.ts
  apps/inventory-service/src/domain/value-objects/warehouse-location.vo.ts
  apps/inventory-service/src/infrastructure/events/event-publisher.service.ts
  apps/inventory-service/src/infrastructure/interceptors/event-publisher.interceptor.ts
  apps/inventory-service/src/infrastructure/repositories/prisma-product.repository.ts
  apps/inventory-service/src/infrastructure/repositories/product.repository.ts
  apps/inventory-service/src/inventory.module.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat: Implement payment service with DDD and NATS integration (#235)
  apps/payment-service/.env.example
  apps/payment-service/README.md
  apps/payment-service/package.json
  apps/payment-service/prisma/schema.prisma
  apps/payment-service/src/application/handlers/order-events.handler.ts
  apps/payment-service/src/application/use-cases/process-payment.use-case.ts
  apps/payment-service/src/application/use-cases/refund-payment.use-case.ts
  apps/payment-service/src/domain/entities/payment.entity.ts
  apps/payment-service/src/domain/events/payment.events.ts
  apps/payment-service/src/domain/repositories/payment.repository.ts
  apps/payment-service/src/domain/services/payment-domain.service.ts
  apps/payment-service/src/domain/value-objects/money.vo.ts
  apps/payment-service/src/domain/value-objects/payment-id.vo.ts
  apps/payment-service/src/domain/value-objects/payment-status.vo.ts
  apps/payment-service/src/domain/value-objects/stripe-payment-intent.vo.ts
  apps/payment-service/src/infrastructure/nats/nats.constants.ts
  apps/payment-service/src/infrastructure/nats/nats.module.ts
  apps/payment-service/src/infrastructure/nats/nats.service.ts
  apps/payment-service/src/infrastructure/repositories/prisma-payment.repository.ts
  apps/payment-service/src/infrastructure/stripe.gateway.ts
  apps/payment-service/src/main.ts
  apps/payment-service/src/payment.module.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat: Implement DDD and event-driven inventory management (#236)
  apps/inventory-service/package.json
  apps/inventory-service/src/application/use-cases/release-stock.use-case.ts
  apps/inventory-service/src/application/use-cases/reserve-stock.use-case.ts
  apps/inventory-service/src/domain/entities/product.entity.ts
  apps/inventory-service/src/domain/events/inventory-events.ts
  apps/inventory-service/src/infrastructure/events/domain-event-dispatcher.service.ts
  apps/inventory-service/src/infrastructure/repositories/prisma-product.repository.ts
  apps/inventory-service/src/infrastructure/repositories/product-repository-with-events.ts
  apps/inventory-service/src/inventory.module.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat: Add production Dockerfiles and deployment configurations
  .gitignore
  apps/auth-service/.dockerignore
  apps/auth-service/Dockerfile.prod
  apps/inventory-service/.dockerignore
  apps/inventory-service/Dockerfile.prod
  apps/order-service/.dockerignore
  apps/order-service/Dockerfile.prod
  apps/payment-service/.dockerignore
  apps/payment-service/Dockerfile.prod
  apps/product-service/.dockerignore
  apps/product-service/Dockerfile.prod
  docs/PRODUCTION_DEPLOYMENT.md
  infra/.env.production.example
  infra/docker/docker-compose.prod.yml
  infra/docker/docker-compose.yml
  infra/setup-production-secrets.sh
  scripts/docker-security-scan.sh
Due: prettier --write

feat: Add production deployment configurations and Dockerfiles
  .gitignore
  apps/auth-service/.dockerignore
  apps/auth-service/Dockerfile.prod
  apps/inventory-service/.dockerignore
  apps/inventory-service/Dockerfile.prod
  apps/order-service/.dockerignore
  apps/order-service/Dockerfile.prod
  apps/payment-service/.dockerignore
  apps/payment-service/Dockerfile.prod
  apps/product-service/.dockerignore
  apps/product-service/Dockerfile.prod
  docs/PRODUCTION_DEPLOYMENT.md
  infra/.env.production.example
  infra/docker/docker-compose.prod.yml
  infra/docker/docker-compose.yml
  infra/setup-production-secrets.sh
  scripts/docker-security-scan.sh
Due: prettier --write

feat: Implement payment service with DDD and Stripe integration (#237)
  apps/payment-service/package.json
  apps/payment-service/src/__tests__/unit/payment.entity.spec.ts
  apps/payment-service/src/index.ts
  apps/payment-service/src/infrastructure/database/prisma.service.ts
  apps/payment-service/src/infrastructure/events/nats-event-publisher.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat: Add production Dockerfiles and deployment configurations (#238)
  .gitignore
  apps/auth-service/.dockerignore
  apps/auth-service/Dockerfile.prod
  apps/inventory-service/.dockerignore
  apps/inventory-service/Dockerfile.prod
  apps/order-service/.dockerignore
  apps/order-service/Dockerfile.prod
  apps/payment-service/.dockerignore
  apps/payment-service/Dockerfile.prod
  apps/product-service/.dockerignore
  apps/product-service/Dockerfile.prod
  docs/PRODUCTION_DEPLOYMENT.md
  infra/.env.production.example
  infra/docker/docker-compose.prod.yml
  infra/docker/docker-compose.yml
  infra/setup-production-secrets.sh
  scripts/docker-security-scan.sh
Due: prettier --write

feat: Implement payment service with DDD and Stripe integration (#239)
  apps/payment-service/src/__tests__/unit/money.vo.spec.ts
  apps/payment-service/src/application/use-cases/index.ts
  apps/payment-service/src/domain/base-classes.ts
  apps/payment-service/src/domain/entities/index.ts
  apps/payment-service/src/domain/events/index.ts
  apps/payment-service/src/domain/events/payment-events.ts
  apps/payment-service/src/domain/index.ts
  apps/payment-service/src/domain/value-objects/index.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat: Implement Kubernetes deployment with Helm charts
  KUBERNETES_DEPLOYMENT_COMPLETE.md
  Makefile
  docs/KUBERNETES_DEPLOYMENT.md
  docs/KUBERNETES_IMPLEMENTATION_SUMMARY.md
  docs/KUBERNETES_QUICK_START.md
  infra/helm/a4co-microservices/.helmignore
  infra/helm/a4co-microservices/Chart.yaml
  infra/helm/a4co-microservices/README.md
  infra/helm/a4co-microservices/templates/NOTES.txt
  infra/helm/a4co-microservices/templates/_helpers.tpl
  infra/helm/a4co-microservices/templates/configmap.yaml
  infra/helm/a4co-microservices/templates/deployment.yaml
  infra/helm/a4co-microservices/templates/external-secrets.yaml
  infra/helm/a4co-microservices/templates/hpa.yaml
  infra/helm/a4co-microservices/templates/ingress.yaml
  infra/helm/a4co-microservices/templates/networkpolicy.yaml
  infra/helm/a4co-microservices/templates/pdb.yaml
  infra/helm/a4co-microservices/templates/servicemonitor.yaml
  infra/helm/a4co-microservices/values-dev.yaml
  infra/helm/a4co-microservices/values-production.yaml
  infra/helm/a4co-microservices/values-staging.yaml
  infra/helm/a4co-microservices/values.yaml
  scripts/k8s-cleanup.sh
  scripts/k8s-deploy.sh
  scripts/k8s-logs.sh
  scripts/k8s-rollback.sh
  scripts/k8s-status.sh
Due: prettier --write

chore(observability): align opentelemetry deps
  packages/observability/package.json
  packages/observability/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

chore(ci): integrate cspell auto-sync and post-commit dictionary enrichment
  .vscode/settings.json
  cspell.json
  docs/cspell-dictionary.md
  package.json
  packages/copilot-dashboard/media/webview.html
  packages/copilot-dashboard/package.json
  packages/copilot-dashboard/src/components/CopilotDashboard.jsx
  packages/copilot-dashboard/src/components/v0/V0ComponentTemplate.d.ts
  packages/copilot-dashboard/src/components/v0/V0ComponentTemplate.d.ts.map
  packages/copilot-dashboard/src/components/v0/V0ComponentTemplate.js
  packages/copilot-dashboard/src/components/v0/V0ComponentTemplate.js.map
  packages/copilot-dashboard/src/components/v0/V0ComponentTemplate.tsx
  packages/copilot-dashboard/src/example.test.ts
  packages/copilot-dashboard/src/example.test.ts (archivo de prueba básico de "hello world")
  packages/copilot-dashboard/src/extension.d.ts
  packages/copilot-dashboard/src/extension.d.ts.map
  packages/copilot-dashboard/src/extension.js
  packages/copilot-dashboard/src/extension.js.map
  packages/copilot-dashboard/src/extension.ts
  packages/copilot-dashboard/src/lib/utils.d.ts
  packages/copilot-dashboard/src/lib/utils.d.ts.map
  packages/copilot-dashboard/src/lib/utils.js
  packages/copilot-dashboard/src/lib/utils.js.map
  packages/copilot-dashboard/src/lib/utils.ts
  packages/copilot-dashboard/src/utils.d.ts
  packages/copilot-dashboard/src/utils.d.ts.map
  packages/copilot-dashboard/src/utils.js
  packages/copilot-dashboard/src/utils.js.map
  packages/copilot-dashboard/src/utils.ts
  packages/copilot-dashboard/tsconfig.json
  packages/shared-utils/src/index.ts
  packages/shared-utils/src/security/braces-security-examples.ts
  packages/shared-utils/src/security/validate-axios-security.ts
  packages/shared-utils/src/security/validate-braces-security.ts
  packages/shared-utils/tsconfig.json
  pnpm-lock.yaml
  scripts/integrate-v0.sh
  scripts/update-cspell-dicts.ts
  tsconfig.json
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

fix(ci): resolve merge conflicts from main and regenerate pnpm lockfile
  .vscode/settings.json
  docs/cspell-dictionary.md
  pnpm-lock.yaml
Due: prettier --write

chore: keep local dictionary and VSCode config before rebase
  .vscode/settings.json
  docs/cspell-dictionary.md
Due: prettier --write

chore: lock settings.json before merging main
  .vscode/settings.json
Due: prettier --write

refactor: simplify tsconfig.json include and exclude patterns
  .editorconfig
  .github/workflows/ci-sql-validate.yml
  .vscode/settings.json
  apps/auth-service/.dockerignore
  apps/inventory-service/.dockerignore
  apps/notification-service/.dockerignore
  apps/order-service/.dockerignore
  apps/payment-service/.dockerignore
  apps/product-service/.dockerignore
  apps/transportista-service/.dockerignore
  apps/transportista-service/tsconfig.json
  apps/user-service/.dockerignore
  packages/copilot-dashboard/.dockerignore
  packages/copilot-dashboard/jest.config.cjs
  packages/observability/.dockerignore
  packages/shared-utils/.dockerignore
  scripts/README.md
  scripts/sync-tsconfigs.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat: enhance CI workflows with security checks and SQL validation improvements
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/build-and-publish.yml
  .github/workflows/ci-sql-validate.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy.yml
  .github/workflows/design-system-preview.yml
  README.md
  docs/security-guidelines.md
  infra/docker/docker-compose.dev.yml
  packages/observability/README.md
  scripts/init-db.sql
  scripts/validate-sql-security.sh
Due: prettier --write

chore(ci/security): hardening workflows, add SQL preprocessing/validation, idempotent init-db, docs & PR template
  .github/workflows/ci-sql-validate.yml
  .github/workflows/deploy-production.yml
  README.md
  docs/security-guidelines.md
  scripts/init-db.sql
Due: prettier --write

fix(ci): update SQL validation workflow to use secrets for Postgres password and improve health check options
  .github/workflows/ci-sql-validate.yml
  .vscode/settings.json
Due: prettier --write

chore(docs): finalize git-hooks docs and add cross-platform VSCode paths; fix README lint
  .github/workflows/ci-dependency-check.yml
  .vscode/settings.json
  README.md
  docs/cspell-dictionary.md
  docs/git-hooks.md
  package.json
  scripts/update-dicts-safe.sh
  tsconfig.scripts.json
Due: prettier --write

chore(ci): add concurrency and preflight secret checks to deploy-production workflow
  .github/workflows/deploy-production.yml
Due: none

chore(ci): docs & hooks — cross-platform VSCode paths + hook safety (#246)
  .github/workflows/ci-dependency-check.yml
  .github/workflows/deploy-production.yml
  .vscode/settings.json
  docs/git-hooks.md
  package.json
  scripts/update-dicts-safe.sh
  tsconfig.scripts.json
Due: prettier --write

chore(ci): use pnpm@10.14.0 in ci-dependency-check workflow
  .github/workflows/ci-dependency-check.yml
Due: none

chore: persist local VSCode and cspell outputs (resolve)
  .vscode/settings.json
  docs/cspell-dictionary.md
Due: prettier --write

chore(ci): verify scripts compile with tsc --noEmit (no side-effects in CI)
  .github/workflows/ci-dependency-check.yml
Due: none

chore(deps): regenerate pnpm-lock.yaml and resolve merge conflicts
  pnpm-lock.yaml
Due: none

chore(ci): rebase ci/github-actions branch and finalize automated dictionary sync integration (#242)
  package.json
  packages/shared-utils/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write

chore: add autoprefixer dependency and update pnpm lockfile
  .vscode/settings.json
  apps/auth-service/jest.config.js
  apps/auth-service/src/application/dto/user.dto.ts
  apps/auth-service/src/application/use-cases/register-user.use-case.ts
  apps/auth-service/src/domain/aggregates/user.aggregate.ts
  apps/auth-service/src/instrument.ts
  apps/auth-service/src/middleware/security.middleware.ts
  apps/auth-service/test/test.config.ts
  apps/auth-service/test/use-cases/register-user-simple.use-case.spec.ts
  apps/auth-service/test/use-cases/register-user-unit.spec.ts
  apps/auth-service/tsconfig.spec.json
  apps/product-service/tests/setup.ts
  docs/cspell-dictionary.md
  package.json
  packages/observability/src/index.test.ts
  packages/shared-utils/src/domain/domain-event.ts
  packages/shared-utils/src/index.ts
  pnpm-lock.yaml
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Feature/migrate to monolith local (#251)
  .vscode/settings.json
  apps/auth-service/jest.config.js
  apps/auth-service/src/application/dto/user.dto.ts
  apps/auth-service/src/application/use-cases/register-user.use-case.ts
  apps/auth-service/src/domain/aggregates/user.aggregate.ts
  apps/auth-service/src/instrument.ts
  apps/auth-service/src/middleware/security.middleware.ts
  apps/auth-service/test/test.config.ts
  apps/auth-service/test/use-cases/register-user-simple.use-case.spec.ts
  apps/auth-service/test/use-cases/register-user-unit.spec.ts
  apps/auth-service/tsconfig.spec.json
  apps/product-service/tests/setup.ts
  docs/cspell-dictionary.md
  package.json
  packages/observability/src/index.test.ts
  packages/shared-utils/src/domain/domain-event.ts
  packages/shared-utils/src/index.ts
  pnpm-lock.yaml
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Add investor mockup documentation
  docs/mockup-inversores/01_preparacion_estrategica.md
  docs/mockup-inversores/02_diseno_ux_ui.md
  docs/mockup-inversores/03_desarrollo_interactivo.md
  docs/mockup-inversores/04_validacion_y_demo.md
  docs/mockup-inversores/05_documentacion_y_entrega.md
  docs/mockup-inversores/README.md
Due: prettier --write

Add investor mockup documentation (#252)
  docs/mockup-inversores/01_preparacion_estrategica.md
  docs/mockup-inversores/02_diseno_ux_ui.md
  docs/mockup-inversores/03_desarrollo_interactivo.md
  docs/mockup-inversores/04_validacion_y_demo.md
  docs/mockup-inversores/05_documentacion_y_entrega.md
  docs/mockup-inversores/README.md
Due: prettier --write

chore: Update dependencies in pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Checkpoint before follow-up message
  .vscode/settings.json
  docs/cspell-dictionary.md
Due: prettier --write

Update dictionaries and dependencies
  .vscode/settings.json
  docs/cspell-dictionary.md
  pnpm-lock.yaml
Due: prettier --write
