Repository Neiland85/a4co-ddd-microservices: changes, and which lint-staged commands are due for each by the changed paths.
All: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

chore: normalize vscode workspace and development environment
  .editorconfig
  .nvmrc
  .vscode/extensions.json
Due: prettier --write

config: disable TypeScript server logging
  .vscode/settings.json
Due: prettier --write

test(gateway): fix incorrect NestJS imports in jwt auth middleware specs
  --- a:package.json
  .vscode/settings.json
  AGENTS.md
  apps/services/inventory-service/src/inventory.module.ts
  apps/services/order-service/src/main.ts
  docs/adrs/ADR-0010.md
  docs/adrs/ADR-0011.md
  inventory.module.ts
  package.json
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

chore: sync pnpm lockfile with prisma upgrade
  pnpm-lock.yaml
Due: none

docs: create comprehensive CLAUDE.md AI assistant guide
  CLAUDE.md
Due: prettier --write

docs: create comprehensive CLAUDE.md AI assistant guide (#375)
  CLAUDE.md
Due: prettier --write

docs(readme): clarify co-ownership, project timeline, and investor-facing positioning
  README.md
Due: prettier --write

chore(lint): stabilize ESLint scope to src-only (no errors, warnings allowed)
  eslint.config.js
Due: prettier --write

chore(tooling): fix cspell update script for TS 5.9 compatibility
  docs/cspell-dictionary.md
  scripts/update-cspell-dicts.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

chore(repo): ignore turbo cache artifacts
  .gitignore
Due: none

refactor(product): replace accelerate example with ProductCachePort
  apps/services/product-service/src/application/__tests__/product-event.mapper.spec.ts
  apps/services/product-service/src/application/ports/domain-event-bus.port.ts
  apps/services/product-service/src/application/ports/integration-event-publisher.port.ts
  apps/services/product-service/src/application/ports/outbox-store.port.ts
  apps/services/product-service/src/application/ports/product-cache.port.ts
  apps/services/product-service/src/application/ports/product-repository.port.ts
  apps/services/product-service/src/application/ports/unit-of-work.port.ts
  apps/services/product-service/src/application/services/create-product.tx.service.ts
  apps/services/product-service/src/application/services/event-id.factory.ts
  apps/services/product-service/src/application/services/product.service.ts
  apps/services/product-service/src/application/use-cases/get-cached-products.use-case.ts
  apps/services/product-service/src/application/use-cases/nest:comm.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat(product-domain): normalize Product as AggregateRoot with domain events
  apps/services/product-service/src/application/ports/product-cache.port.ts
  apps/services/product-service/src/application/use-cases/get-cached-products.use-case.ts
  apps/services/product-service/src/domain/__tests__/entities/product.aggregate.spec.ts
  apps/services/product-service/src/domain/aggregates/index.ts
  apps/services/product-service/src/domain/aggregates/product/README.md
  apps/services/product-service/src/domain/aggregates/product/product-events.ts
  apps/services/product-service/src/domain/aggregates/product/product-id.vo.ts
  apps/services/product-service/src/domain/aggregates/product/product.entity.ts
  apps/services/product-service/src/domain/contexts/catalog/catalog-policy.ts
  apps/services/product-service/src/domain/contexts/lifecycle/activation-policy.ts
  apps/services/product-service/src/domain/contexts/pricing/pricing-policy.ts
  apps/services/product-service/src/domain/contexts/publishing/publish-policy.ts
  apps/services/product-service/src/domain/event-bus.ts
  apps/services/product-service/src/domain/events/index.ts
  apps/services/product-service/src/domain/events/product-created.event.ts
  apps/services/product-service/src/domain/events/product-events.ts
  apps/services/product-service/src/domain/events/product-price-changed.event.ts
  apps/services/product-service/src/domain/events/product-stock-adjusted.event.ts
  apps/services/product-service/src/domain/index.ts
  apps/services/product-service/src/domain/repositories/product.repository.port.ts
  apps/services/product-service/src/domain/services/product-uniqueness.service.ts
  apps/services/product-service/src/domain/value-objects/index.ts
  apps/services/product-service/src/domain/value-objects/product-id.vo.ts
  apps/services/product-service/src/domain/value-objects/product-value-objects.ts
  apps/services/product-service/src/domain/value-objects/slug.vo.ts
  apps/services/product-service/src/infrastructure/cache/index.ts
  apps/services/product-service/src/infrastructure/cache/product-cache.prisma.repository.ts
  apps/services/product-service/src/infrastructure/event-bus/nats-domain-event-bus.ts
  apps/services/product-service/src/infrastructure/persistence/prisma-unit-of-work.ts
  apps/services/product-service/src/infrastructure/persistence/prisma.ts
  apps/services/product-service/src/product.module.ts
  packages/shared-utils/src/aggregate-root.ts
  packages/shared-utils/src/base-entity.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

docs: add MSCP plans for decoupling
  docs/MSCP_DESACOPLES.md
Due: prettier --write

docs: add MSCP plans for decoupling (#387)
  docs/MSCP_DESACOPLES.md
Due: prettier --write

docs: refine MSCP decoupling plans
  docs/MSCP_DESACOPLES.md
Due: prettier --write

Conflictos resueltos en rebase
  .vscode/settings.json
  AGENTS.md
  apps/services/auth-service/src/application/use-cases/auth-health.usecase.ts
  apps/services/auth-service/src/contracts/api/v1/auth-health-response.dto.ts
  apps/services/auth-service/src/domain/README.md
  apps/services/auth-service/src/modules/auth.module.ts
  apps/services/auth-service/src/presentation/controllers/auth.controller.ts
  apps/services/auth-service/test/auth.e2e-spec.ts
  apps/services/inventory-service/src/modules/inventory.module.ts
  apps/services/payment-service/src/modules/payment.module.ts
  apps/services/product-service/src/infrastructure/outbox/log-event.publisher.ts
  apps/services/product-service/src/infrastructure/outbox/outbox.worker.ts
  apps/services/product-service/src/infrastructure/outbox/prisma-outbox.store.ts
  docs/cspell-dictionary.md
  libs/shared-events/project.json
  package.json
  packages/@a4co/shared-events/apps/services/product-service/src/application/mappers/product-event.mapper.ts
  packages/@a4co/shared-events/package.json
  packages/@a4co/shared-events/project.json
  packages/@a4co/shared-events/tsconfig.json
  packages/outbox-publisher/package.json
  packages/outbox-publisher/src/bin/run.ts
  packages/outbox-publisher/src/index.ts
  packages/outbox-publisher/tsconfig.json
  src/application/ports/product-cache.port.ts
  src/common/prisma/prisma-accelerate.module.ts
  src/common/prisma/prisma-accelerate.service.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Conflictos resueltos en rebase
  .vscode/settings.json
  docs/cspell-dictionary.md
Due: prettier --write

Resuelve conflictos y continúa el rebase
  docs/cspell-dictionary.md
Due: prettier --write

Sincronización finalizada: conflicto resuelto
  docs/cspell-dictionary.md
Due: prettier --write

Conflictos resueltos y sincronización finalizada
  .vscode/settings.json
  docs/cspell-dictionary.md
Due: prettier --write

Forzar sincronización final
  docs/cspell-dictionary.md
Due: prettier --write

Sincronización final sin scripts automáticos
  .vscode/settings.json
  docs/cspell-dictionary.md
  package.json
Due: prettier --write

chore: save WIP before session end (outbox, modules, prisma accelerate, docs)
  .vscode/settings.json
  docs/cspell-dictionary.md
Due: prettier --write

Guarda tus cambios antes de rebase
  docs/cspell-dictionary.md
Due: prettier --write

docs: refine MSCP decoupling plans (#388)
  docs/MSCP_DESACOPLES.md
Due: prettier --write

dev/ foundational infrastructure
  .github/FUNDING.yml
Due: none

dev/ foundational infrastructure (#389)
  .github/FUNDING.yml
Due: none

chore(repo): clean generated artifacts and enforce source-only tracking
  .gitignore
  apps/dashboard-client/lib/api-client.ts
  apps/dashboard-client/lib/auth-context.tsx
  apps/dashboard-client/lib/context/ToastContext.tsx
  apps/dashboard-client/lib/hooks/useLocalStorage.ts
  apps/dashboard-client/lib/services/auth.service.ts
  apps/dashboard-client/lib/services/index.ts
  apps/dashboard-client/lib/services/orders.service.ts
  apps/dashboard-client/lib/services/products.service.ts
  apps/dashboard-client/lib/types/auth.ts
  apps/dashboard-client/lib/types/index.ts
  apps/dashboard-client/lib/types/order.ts
  apps/dashboard-client/lib/types/product.ts
  apps/dashboard-client/lib/useMicroAnimations.ts
  apps/dashboard-client/lib/utils.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

fix(architecture): stabilize shared-utils package exports and resolve product-service build
  apps/services/product-service/src/application/use-cases/get-cached-products.use-case.ts
  apps/services/product-service/tsconfig.json
  packages/shared-utils/README.md
  packages/shared-utils/src/aggregate-root.ts
  packages/shared-utils/src/domain/index.ts
  packages/shared-utils/src/events/nats-event-bus.ts
  packages/shared-utils/src/index.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

refactor(payment): stabilize AggregateRoot, Payment entity and event publishing
  apps/services/payment-service/src/application/services/payment-event.publisher.ts
  apps/services/payment-service/src/application/use-cases/process-payment-improved.use-case.ts
  apps/services/payment-service/src/application/use-cases/process-payment.use-case.ts
  packages/domain/payment/src/entities/payment.entity.ts
  packages/shared-utils/src/domain/aggregate-root.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

refactor(payment): finalize domain exports and event handling
  apps/services/payment-service/src/application/handlers/order-events.handler.ts
  apps/services/payment-service/src/application/services/payment-event.publisher.ts
  apps/services/payment-service/src/application/use-cases/process-payment-improved.use-case.ts
  packages/domain/payment/package.json
  packages/domain/payment/src/index.ts
  packages/domain/payment/src/services/payment-domain.service.ts
  packages/shared-utils/src/domain/aggregate-root.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

refactor(core): stabilize domain model, AggregateRoot and payment flow (#391)
  apps/services/payment-service/src/application/handlers/order-events.handler.ts
  apps/services/payment-service/src/application/services/payment-event.publisher.ts
  apps/services/payment-service/src/application/use-cases/process-payment-improved.use-case.ts
  apps/services/payment-service/src/application/use-cases/process-payment.use-case.ts
  packages/domain/payment/package.json
  packages/domain/payment/src/entities/payment.entity.ts
  packages/domain/payment/src/index.ts
  packages/domain/payment/src/services/payment-domain.service.ts
  packages/shared-utils/src/domain/aggregate-root.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Path conditions:
  ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,json,md,css})
