Repository Neiland85/a4co-ddd-microservices: changes, and which lint-staged commands are due for each by the changed paths.
All: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

fix: Relax ESLint rules and add missing Node.js globals in observability
  packages/observability/eslint.config.js
Due: prettier --write

fix: Disable undefined react-hooks rules in observability ESLint config
  packages/observability/eslint.config.js
Due: prettier --write

fix: Remove eslint-disable comment and add ESLint deps to auth-service
  apps/auth-service/package.json
  packages/observability/src/tracing/react-tracing.tsx
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

chore: Update pnpm-lock.yaml with auth-service ESLint deps
  pnpm-lock.yaml
Due: none

fix: Update ESLint 8 to 9 and add TypeScript plugin deps in user-service
  apps/user-service/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: Add proper ESLint 9 config to user-service
  apps/user-service/eslint.config.js
Due: prettier --write

fix: Relax ESLint rules in dashboard-client for any and require-imports
  apps/dashboard-client/eslint.config.mjs
Due: none

fix: Add no-unused-vars to ESLint rules relaxation in dashboard-client
  apps/dashboard-client/eslint.config.mjs
Due: none

fix: Remove --max-warnings=0 from dashboard-client lint command
  apps/dashboard-client/package.json
Due: prettier --write

chore: Sanitize code with eslint --fix and relax strict rules for development
  .turbo/cache/188cb288153704fd-meta.json
  .turbo/cache/188cb288153704fd.tar.zst
  .turbo/cache/671f59eee4d708bd-meta.json
  .turbo/cache/671f59eee4d708bd.tar.zst
  .turbo/cache/84af126a58b0f25e-meta.json
  .turbo/cache/84af126a58b0f25e.tar.zst
  .turbo/cache/9799fd3bfcf6e15b-meta.json
  .turbo/cache/9799fd3bfcf6e15b.tar.zst
  .turbo/cache/ab7a77e75de06c59-meta.json
  .turbo/cache/ab7a77e75de06c59.tar.zst
  .turbo/cache/b99895226954daef-meta.json
  .turbo/cache/b99895226954daef.tar.zst
  .turbo/cache/d6485afec4129188-meta.json
  .turbo/cache/d6485afec4129188.tar.zst
  .turbo/cache/e4b84e09dba0d657-meta.json
  .turbo/cache/e4b84e09dba0d657.tar.zst
  .turbo/cache/fda6bf0b8da72e64-meta.json
  .turbo/cache/fda6bf0b8da72e64.tar.zst
  .vscode/settings.json
  apps/order-service/eslint.config.js
  docs/cspell-dictionary.md
Due: prettier --write

chore: Add permissive base ESLint rules for development and update auth-service
  apps/auth-service/eslint.config.js
  eslint.base-rules.js
Due: prettier --write

fix: Correct auth-service eslint.config.js syntax error
  apps/auth-service/eslint.config.js
Due: prettier --write

Security: Remove exposed SSH keys and clean obsolete configuration (#344)
  .eslintrc.nestjs.js
  .gitignore
  .npmrc
  a4co.sh
  eslint.config.old.js
  eval "$(ssh-agent -s)"
  eval "$(ssh-agent -s)".pub
  init.sh
  jest.config.js (asegúrate de que esté configurado correctamente)
  monitor.sh
  package-broken.json
  pnpm-workspace.yaml
Due: prettier --write

[WIP] Consolidate common controllers, services, and configurations (#343)
  apps/auth-service/src/main.ts
  apps/inventory-service/src/main.ts
  apps/notification-service/src/main.ts
  apps/order-service/src/main.ts
  apps/payment-service/src/main.ts
  apps/product-service/src/main.ts
  apps/user-service/src/main.ts
  packages/shared-utils/package-lock.json
  packages/shared-utils/package.json
  packages/shared-utils/src/base-service.ts
  packages/shared-utils/src/base/BaseController.ts
  packages/shared-utils/src/base/BaseRepository.ts
  packages/shared-utils/src/base/BaseService.ts
  packages/shared-utils/src/base/index.ts
  packages/shared-utils/src/config/bootstrap.ts
  packages/shared-utils/src/config/index.ts
  packages/shared-utils/src/config/logger.ts
  packages/shared-utils/src/config/swagger.ts
  packages/shared-utils/src/config/validation.ts
  packages/shared-utils/src/decorators/api-response.decorator.ts
  packages/shared-utils/src/decorators/index.ts
  packages/shared-utils/src/decorators/validate-input.decorator.ts
  packages/shared-utils/src/dto/error.dto.ts
  packages/shared-utils/src/dto/index.ts
  packages/shared-utils/src/dto/pagination.dto.ts
  packages/shared-utils/src/dto/response.dto.ts
  packages/shared-utils/src/filters/global-exception.filter.ts
  packages/shared-utils/src/filters/index.ts
  packages/shared-utils/src/index.ts
  packages/shared-utils/src/validators/common.validators.ts
  packages/shared-utils/src/validators/custom.validators.ts
  packages/shared-utils/src/validators/index.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Implement event-driven microservices flow with NATS and saga pattern (#345)
  EVENT_DRIVEN_FLOW.md
  IMPLEMENTATION_SUMMARY.md
  apps/inventory-service/package.json
  apps/inventory-service/src/application/handlers/reserve-stock.handler.ts
  apps/inventory-service/src/main.ts
  apps/order-service/package.json
  apps/order-service/src/application/use-cases/create-order.use-case.ts
  apps/order-service/src/infrastructure/event-handlers/__tests__/payment-events.handler.spec.ts
  apps/order-service/src/infrastructure/event-handlers/payment-events.handler.ts
  apps/order-service/src/main.ts
  apps/order-service/src/order.module.ts
  apps/payment-service/package.json
  apps/payment-service/src/application/handlers/order-events.handler.ts
  apps/payment-service/src/application/services/payment-event.publisher.ts
  apps/payment-service/src/infrastructure/__tests__/simulated-payment.gateway.spec.ts
  apps/payment-service/src/infrastructure/simulated-payment.gateway.ts
  apps/payment-service/src/payment.module.ts
  docker-compose.yml
  libs/shared-events/README.md
  libs/shared-events/package.json
  libs/shared-events/src/base-event.ts
  libs/shared-events/src/index.ts
  libs/shared-events/src/inventory-events.ts
  libs/shared-events/src/order-events.ts
  libs/shared-events/src/payment-events.ts
  libs/shared-events/tsconfig.json
  scripts/start-event-flow-services.sh
  scripts/test-event-flow.sh
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Implement functional API Gateway with JWT auth, rate limiting, and service proxying (#346)
  apps/gateway/.env.example
  apps/gateway/.eslintignore
  apps/gateway/README.md
  apps/gateway/jest.config.cjs
  apps/gateway/package-lock.json
  apps/gateway/package.json
  apps/gateway/src/app.module.ts
  apps/gateway/src/common/guards/jwt-auth.guard.ts
  apps/gateway/src/common/middleware/jwt-auth.middleware.ts
  apps/gateway/src/config/configuration.ts
  apps/gateway/src/main.ts
  apps/gateway/src/proxy/controllers/index.ts
  apps/gateway/src/proxy/controllers/payments-proxy.controller.ts
  apps/gateway/src/proxy/controllers/sagas-proxy.controller.ts
  apps/gateway/src/proxy/proxy.module.ts
  apps/gateway/src/proxy/proxy.service.ts
  apps/gateway/test/jwt-auth.middleware.spec.ts
  apps/gateway/test/proxy.service.spec.ts
  apps/gateway/test/rate-limiting.spec.ts
  package-lock.json
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat(shared-events): Implement typed event interfaces for event-driven architecture (#348)
  libs/shared-events/README.md
  libs/shared-events/package.json
  libs/shared-events/src/base-event.ts
  libs/shared-events/src/constants/event-patterns.ts
  libs/shared-events/src/events/inventory.events.ts
  libs/shared-events/src/events/order.events.ts
  libs/shared-events/src/events/payment.events.ts
  libs/shared-events/src/events/saga.events.ts
  libs/shared-events/src/index.ts
  libs/shared-events/src/inventory-events.ts
  libs/shared-events/src/order-events.ts
  libs/shared-events/src/payment-events.ts
  libs/shared-events/src/types/event.base.ts
  libs/shared-events/src/types/payload.types.ts
  libs/shared-events/tsconfig.json
  pnpm-workspace.yaml
  tsconfig.base.json
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat(observability): Implement AsyncLocalStorage-based structured logging and distributed tracing (#350)
  OBSERVABILITY.md
  apps/inventory-service/src/main.ts
  apps/order-service/src/main.ts
  packages/observability/README.md
  packages/observability/README.md.old
  packages/observability/__tests__/async-context.test.ts
  packages/observability/__tests__/simple-logger.test.ts
  packages/observability/__tests__/trace-context-middleware.test.ts
  packages/observability/__tests__/trace-id-generator.test.ts
  packages/observability/src/index.ts
  packages/observability/src/logger/index.ts
  packages/observability/src/logger/simple-logger.ts
  packages/observability/src/middleware/index.ts
  packages/observability/src/middleware/trace-context.middleware.ts
  packages/observability/src/types/log-payload.types.ts
  packages/observability/src/types/trace-context.types.ts
  packages/observability/src/utils/async-context.ts
  packages/observability/src/utils/index.ts
  packages/observability/src/utils/trace-id.generator.ts
  packages/observability/tsconfig.json
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Fix PR #345: Standardize payment status to CONFIRMED, add correlationId, validate environment with Zod (#349)
  .env.example
  .vscode/settings.json
  apps/order-service/src/domain/aggregates/order.aggregate.ts
  apps/order-service/tests/e2e/order-saga.e2e.spec.ts
  apps/order-service/tests/order.aggregate.spec.ts
  apps/order-service/tests/order.domain.spec.ts
  apps/payment-service/package.json
  apps/payment-service/src/config/env.validation.ts
  apps/payment-service/src/infrastructure/__tests__/simulated-payment.gateway.spec.ts
  apps/payment-service/src/infrastructure/payment-metadata.ts
  apps/payment-service/src/infrastructure/simulated-payment.gateway.ts
  apps/payment-service/src/payment.module.ts
  docs/cspell-dictionary.md
  libs/config/package.json
  libs/config/src/env.ts
  libs/config/src/index.ts
  libs/config/tsconfig.json
  libs/shared-events/src/types/event.base.ts
  pnpm-lock.yaml
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Create PR1A-summary.md documentation
  docs/PR1A-summary.md
Due: prettier --write

Create comprehensive troubleshooting guide for PR1A
  docs/PR1A-troubleshooting.md
Due: prettier --write

Update PR1A-troubleshooting.md with comprehensive troubleshooting guide
  PR1A-troubleshooting.md
Due: prettier --write

docs: Add comprehensive PR4 observability setup documentation
  docs/PR4-OBSERVABILITY-SETUP.md
Due: prettier --write

Implement versioned event-driven architecture with shared events package (#351)
  .vscode/settings.json
  PR1A-COMPLETION-SUMMARY.md
  docs/PR1A-integration-guide.md
  docs/PR1A-summary.md
  docs/PR1A-tests.md
  docs/cspell-dictionary.md
  packages/shared-events/README.md
  packages/shared-events/jest.config.cjs
  packages/shared-events/package.json
  packages/shared-events/src/__tests__/event.base.test.ts
  packages/shared-events/src/__tests__/order-events.test.ts
  packages/shared-events/src/__tests__/payment-events.test.ts
  packages/shared-events/src/base/event.base.ts
  packages/shared-events/src/base/index.ts
  packages/shared-events/src/events/index.ts
  packages/shared-events/src/events/order/index.ts
  packages/shared-events/src/events/order/order-cancelled.v1.ts
  packages/shared-events/src/events/order/order-confirmed.v1.ts
  packages/shared-events/src/events/order/order-created.v1.ts
  packages/shared-events/src/events/order/order-failed.v1.ts
  packages/shared-events/src/events/payment/index.ts
  packages/shared-events/src/events/payment/payment-confirmed.v1.ts
  packages/shared-events/src/events/payment/payment-failed.v1.ts
  packages/shared-events/src/events/payment/payment-processing.v1.ts
  packages/shared-events/src/events/payment/payment-requested.v1.ts
  packages/shared-events/src/index.ts
  packages/shared-events/tsconfig.json
  pnpm-lock.yaml
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Add complete observability infrastructure for event-driven microservices (#352)
  .env.observability.example
  .gitignore
  README.md
  docker-compose.observability.yml
  docs/PR4-IMPLEMENTATION-SUMMARY.md
  infra/observability/README.md
  infra/observability/alertmanager/alertmanager.yml
  infra/observability/grafana/dashboards/events/events-dashboard.json
  infra/observability/grafana/dashboards/main-dashboard.json
  infra/observability/grafana/dashboards/nats/nats-dashboard.json
  infra/observability/grafana/provisioning/dashboards/dashboards.yml
  infra/observability/grafana/provisioning/datasources/datasources.yml
  infra/observability/loki/loki-config.yml
  infra/observability/prometheus/alerts.yml
  infra/observability/prometheus/prometheus.yml
  infra/observability/prometheus/recording-rules.yml
  infra/observability/promtail/promtail-config.yml
  scripts/start-observability.sh
  scripts/stop-observability.sh
  scripts/validate-observability.sh
Due: prettier --write

feat: implement API Gateway with JWT auth, structured logging, and service proxy (#353)
  apps/gateway/.env.example
  apps/gateway/README.md
  apps/gateway/package-lock.json
  apps/gateway/package.json
  apps/gateway/src/app.module.ts
  apps/gateway/src/auth/dto/auth.dto.ts
  apps/gateway/src/auth/guards/jwt.guard.ts
  apps/gateway/src/auth/strategies/jwt.strategy.ts
  apps/gateway/src/common/decorators/current-user.decorator.ts
  apps/gateway/src/common/decorators/user-context.decorator.ts
  apps/gateway/src/common/filters/http-exception.filter.ts
  apps/gateway/src/common/index.ts
  apps/gateway/src/common/middleware/correlation-id.middleware.ts
  apps/gateway/src/common/middleware/jwt-auth.middleware.ts
  apps/gateway/src/config/configuration.ts
  apps/gateway/src/config/jwt.config.ts
  apps/gateway/src/logger/structured.logger.ts
  apps/gateway/src/main.ts
  apps/gateway/test/api-gateway.e2e.spec.ts
  apps/gateway/test/correlation-id.middleware.spec.ts
  apps/gateway/test/structured-logger.spec.ts
  docker-compose.yml
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Production deployment infrastructure with multi-stage Dockerfiles and security hardening (#355)
  .env.production.template
  .github/workflows/deploy-production.yml
  README.md
  apps/auth-service/Dockerfile
  apps/auth-service/src/health/health.controller.ts
  apps/frontend/Dockerfile
  apps/frontend/nginx.conf
  apps/inventory-service/Dockerfile
  apps/inventory-service/src/health/health.controller.ts
  apps/order-service/Dockerfile
  apps/order-service/src/presentation/controllers/health.controller.ts
  apps/payment-service/Dockerfile
  apps/payment-service/src/health/health.controller.ts
  apps/product-service/Dockerfile
  apps/product-service/src/health/health.controller.ts
  docker-compose.prod.yml
  docs/PRODUCTION_CHECKLIST.md
  docs/PRODUCTION_DEPLOY.md
  docs/PRODUCTION_DEPLOYMENT_SUMMARY.md
  docs/SECURITY.md
  infra/docker/nginx.prod.conf
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Implement OpenTelemetry distributed tracing with OTLP collector and Jaeger (#356)
  .env.observability.example
  docker-compose.observability.yml
  docs/observability-usage-examples.md
  docs/observability.md
  infra/observability/README.md
  infra/observability/grafana/dashboards/business-metrics.json
  infra/observability/grafana/dashboards/errors.json
  infra/observability/grafana/dashboards/order-flow.json
  infra/observability/grafana/dashboards/performance.json
  infra/observability/otel-collector-config.yaml
  package.json
  packages/observability/src/decorators/index.ts
  packages/observability/src/decorators/logging.decorator.ts
  packages/observability/src/decorators/tracing.decorator.ts
  packages/observability/src/index.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Implement notification-service with event-driven Email/SMS delivery (#357)
  NOTIFICATION_SERVICE_IMPLEMENTATION_SUMMARY.md
  apps/notification-service/.env.example
  apps/notification-service/README.md
  apps/notification-service/jest.config.js
  apps/notification-service/prisma/schema.prisma
  apps/notification-service/src/dto/get-notification.dto.ts
  apps/notification-service/src/entities/notification.entity.ts
  apps/notification-service/src/listeners/__tests__/order-confirmed.listener.spec.ts
  apps/notification-service/src/listeners/__tests__/shipment-delivered.listener.spec.ts
  apps/notification-service/src/listeners/order-confirmed.listener.ts
  apps/notification-service/src/listeners/shipment-delivered.listener.ts
  apps/notification-service/src/main.ts
  apps/notification-service/src/notification.controller.ts
  apps/notification-service/src/notification.module.ts
  apps/notification-service/src/services/__tests__/notification.service.spec.ts
  apps/notification-service/src/services/__tests__/sendgrid.service.spec.ts
  apps/notification-service/src/services/__tests__/twilio.service.spec.ts
  apps/notification-service/src/services/notification.service.ts
  apps/notification-service/src/services/sendgrid.service.ts
  apps/notification-service/src/services/twilio.service.ts
  docs/diagrams/notification-service-flow.md
  docs/notification-service.md
  packages/shared-events/src/base/event.base.ts
  packages/shared-events/src/events/index.ts
  packages/shared-events/src/events/shipment/index.ts
  packages/shared-events/src/events/shipment/shipment-delivered.v1.ts
  packages/shared-events/tsconfig.json
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Add E2E test suite for complete order flow with saga pattern validation (#358)
  .github/workflows/e2e.yml
  .vscode/settings.json
  E2E_CI_FIXES.md
  E2E_IMPLEMENTATION_SUMMARY.md
  E2E_PIPELINE_FIXES.md
  README.md
  apps/dashboard-client/.gitignore
  apps/dashboard-client/e2e/README.md
  apps/dashboard-client/e2e/global-setup.ts
  apps/dashboard-client/e2e/global-teardown.ts
  apps/dashboard-client/e2e/helpers/api.helper.ts
  apps/dashboard-client/e2e/helpers/auth.helper.ts
  apps/dashboard-client/e2e/helpers/nats.helper.ts
  apps/dashboard-client/e2e/order-flow.spec.ts
  apps/dashboard-client/e2e/test-setup-verification.md
  apps/dashboard-client/package.json
  apps/dashboard-client/playwright.config.ts
  docker-compose.test.yml
  docs/cspell-dictionary.md
  docs/e2e-ci-known-issues.md
  docs/e2e-quick-start.md
  docs/e2e-tests.md
  pnpm-lock.yaml
  scripts/run-e2e-tests.sh
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Fix: Update payment module imports from shared to common
  packages/domain/src/payment/entities/payment.entity.ts
  packages/domain/src/payment/events/payment-created.v1.ts
  packages/domain/src/payment/events/payment-failed.v1.ts
  packages/domain/src/payment/events/payment-succeeded.v1.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

chore: Update VS Code settings and spell dictionary
  .vscode/settings.json
  docs/cspell-dictionary.md
Due: prettier --write

fix(observability): Resolve ESLint errors in index.ts
  packages/observability/src/index.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat: Add eslint.config.js files for domain and shared-events packages
  packages/domain/eslint.config.js
  packages/shared-events/eslint.config.js
Due: prettier --write

fix: Remove duplicate shared-events and add eslint config to libs/shared-events
  .vscode/settings.json
  docs/cspell-dictionary.md
  libs/shared-events/eslint.config.js
  libs/shared-events/package.json
  packages/domain/package.json
  packages/observability/src/index.ts
  packages/shared-events/README.md
  packages/shared-events/eslint.config.js
  packages/shared-events/jest.config.cjs
  packages/shared-events/package.json
  packages/shared-events/src/__tests__/event.base.test.ts
  packages/shared-events/src/__tests__/order-events.test.ts
  packages/shared-events/src/__tests__/payment-events.test.ts
  packages/shared-events/src/base/event.base.ts
  packages/shared-events/src/base/index.ts
  packages/shared-events/src/events/index.ts
  packages/shared-events/src/events/order/index.ts
  packages/shared-events/src/events/order/order-cancelled.v1.ts
  packages/shared-events/src/events/order/order-confirmed.v1.ts
  packages/shared-events/src/events/order/order-created.v1.ts
  packages/shared-events/src/events/order/order-failed.v1.ts
  packages/shared-events/src/events/payment/index.ts
  packages/shared-events/src/events/payment/payment-confirmed.v1.ts
  packages/shared-events/src/events/payment/payment-failed.v1.ts
  packages/shared-events/src/events/payment/payment-processing.v1.ts
  packages/shared-events/src/events/payment/payment-requested.v1.ts
  packages/shared-events/src/events/shipment/index.ts
  packages/shared-events/src/events/shipment/shipment-delivered.v1.ts
  packages/shared-events/src/index.ts
  packages/shared-events/tsconfig.json
  pnpm-lock.yaml
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

fix: Move --max-old-space-size to NODE_OPTIONS in lint script
  package.json
Due: prettier --write

Path conditions:
  ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,json,md,css})
