Repository Neiland85/a4co-ddd-microservices: changes, and which lint-staged commands are due for each by the changed paths.
All: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{js,jsx,json,md,css}": ["prettier --write"]
}

Revert "Merge branch 'monolito-fase0' into main - Fase 0 completada"
  .dockerignore
  .github/workflows/ci.yml
  .turbo/cache/23c62c2de8b31b22-meta.json
  .turbo/cache/23c62c2de8b31b22.tar.zst
  .turbo/cache/679cd94fc7c30e7f-meta.json
  .turbo/cache/679cd94fc7c30e7f.tar.zst
  .turbo/cache/77a1b5f109b530ac-meta.json
  .turbo/cache/77a1b5f109b530ac.tar.zst
  .vscode/settings.json
  FASE0_COMPLETION_SUMMARY.md
  FASE0_FINAL_REPORT.md
  INDICE_DOCUMENTACION.md
  RESUMEN_EJECUCION_PROXIMOS_PASOS.md
  apps/auth-service/Dockerfile
  apps/auth-service/src/instrument.ts
  apps/auth-service/src/main.ts
  apps/auth-service/tsconfig.json
  apps/dashboard-client/package.json
  apps/inventory-service/Dockerfile
  apps/order-service/Dockerfile
  apps/payment-service/Dockerfile
  apps/payment-service/src/application/services/newFile.ts
  apps/payment-service/src/application/services/payment.service.spec.ts
  compose.yaml
  cspell.json
  docker-compose.yml
  docs/cspell-dictionary.md
  jest.config.js (asegúrate de que esté configurado correctamente)
  package.json
  packages/design-system/h-modern-dashboard/package.json
  packages/observability/tsconfig.json
  pnpm-lock.yaml
  scripts/normalize-dockerfiles.sh
  tsconfig.json
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

fix: GitHub Actions - remover sudo apt-get que falla en runner
  .github/workflows/ci.yml
Due: none

fix: GitHub Actions - instalar tar sin sudo (con fallback)
  .github/workflows/ci.yml
Due: none

fix: GitHub Actions - usar cache-apt-pkgs para instalar tar de forma confiable
  .github/workflows/ci.yml
Due: none

fix: GitHub Actions - usar container node:22-alpine con tar/git preinstalado
  .github/workflows/ci.yml
Due: none

fix: Bracket notation para process.env en strict mode, limpieza de archivos test incompletos
  apps/auth-service/src/instrument.ts
  apps/auth-service/src/main.ts
  apps/dashboard-client/next.config.ts
  apps/dashboard-client/package.json
  apps/dashboard-client/postcss.config.js
  apps/dashboard-client/tsconfig.json
  apps/payment-service/src/application/services/newFile.ts
  apps/payment-service/src/application/services/payment.service.spec.ts
  compose.yaml
  package.json
  pnpm-lock.yaml
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat: Fase 1 Infrastructure Setup - .env, Prisma migrations, startup script
  .turbo/daemon/d42444ee0ef6d315-turbo.log.2025-12-04
  .vscode/settings.json
  FASE1_START.sh
  apps/auth-service/prisma/schema.prisma
  docs/cspell-dictionary.md
Due: prettier --write

docs: Fase 1 status report - Infrastructure ready for service startup
  FASE1_STATUS.md
Due: prettier --write

chore: remove Nx workspace-data from repo (cleanup before rebase)
  .nx/workspace-data/file-map.json
  .nx/workspace-data/lockfile-dependencies.hash
  .nx/workspace-data/lockfile-nodes.hash
  .nx/workspace-data/nx_files.nxt
  .nx/workspace-data/parsed-lock-file.dependencies.json
  .nx/workspace-data/parsed-lock-file.nodes.json
  .nx/workspace-data/project-graph.json
  .nx/workspace-data/source-maps.json
Due: prettier --write

fix(ci): stable tar pre-checkout + container-safe pipeline
  .github/workflows/ci.yml
Due: none

Monolito fase0 (#332)
  .github/workflows/ci.yml
  .nx/workspace-data/file-map.json
  .nx/workspace-data/lockfile-dependencies.hash
  .nx/workspace-data/lockfile-nodes.hash
  .nx/workspace-data/nx_files.nxt
  .nx/workspace-data/parsed-lock-file.dependencies.json
  .nx/workspace-data/parsed-lock-file.nodes.json
  .nx/workspace-data/project-graph.json
  .nx/workspace-data/source-maps.json
  .turbo/daemon/d42444ee0ef6d315-turbo.log.2025-12-04
  .vscode/settings.json
  FASE1_START.sh
  FASE1_STATUS.md
  apps/auth-service/prisma/schema.prisma
  apps/auth-service/src/instrument.ts
  apps/auth-service/src/main.ts
  apps/dashboard-client/next.config.ts
  apps/dashboard-client/package.json
  apps/dashboard-client/postcss.config.js
  apps/dashboard-client/tsconfig.json
  apps/payment-service/src/application/services/newFile.ts
  apps/payment-service/src/application/services/payment.service.spec.ts
  compose.yaml
  docs/cspell-dictionary.md
  package.json
  pnpm-lock.yaml
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Update cspell dictionaries with new Spanish terms
  .vscode/settings.json
  docs/cspell-dictionary.md
Due: prettier --write

Refactor ESLint and TypeScript config, update Spinner import
  .eslintignore
  eslint.config.js
  packages/design-system/src/components/Spinner.jsx
  packages/design-system/tsconfig.json
Due: prettier --write

Refactor ESLint and TypeScript config, update Spinner import (#333)
  .eslintignore
  eslint.config.js
  packages/design-system/src/components/Spinner.jsx
  packages/design-system/tsconfig.json
Due: prettier --write

fix(ci): pipeline stable - pnpm + node22 + prisma
  .github/workflows/ci.yml
Due: none

fix(ci): ensure pnpm inside container + stable pipeline
  .github/workflows/ci.yml
Due: none

Update cspell word lists and dictionary documentation
  .vscode/settings.json
  docs/cspell-dictionary.md
Due: prettier --write

fix(ci): replace deprecated --ignore with --filter syntax
  .github/workflows/ci.yml
Due: none

fix(ci): final stable pipeline
  .github/workflows/ci.yml
Due: none

fix(ci): install pnpm before setup-node cache
  .github/workflows/ci.yml
Due: none

fix(ci): use pnpm -r exec for prisma generate in monorepo
  .github/workflows/ci.yml
Due: none

fix(ci): prisma generate per service + remove invalid eslint flag
  .github/workflows/ci.yml
  package.json
Due: prettier --write

Add missing type-check script for CI pipeline (#335)
  .vscode/settings.json
  docs/cspell-dictionary.md
  package.json
  turbo.json
Due: prettier --write

Comprehensive architectural audit and production readiness roadmap (#339)
  .vscode/settings.json
  AUDITORIA_ARQUITECTONICA_COMPLETA.md
  CHECKLIST_VSCODE.md
  PLAN_ACCION_EJECUTABLE.md
  RESUMEN_EJECUTIVO_PR339.md
  apps/dashboard-client/app/globals.css
  docs/cspell-dictionary.md
  packages/design-system/tailwind.preset.js
Due: prettier --write

fix: Update pnpm-lock.yaml to sync with prisma version changes
  pnpm-lock.yaml
Due: none

fix: Relax ESLint rules in observability package and fix CI lint command
  .github/workflows/ci.yml
  packages/observability/eslint.config.js
  packages/observability/src/tracing/react-tracing.tsx
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

fix: Run apps lint from root to avoid missing eslint dependency
  .github/workflows/ci.yml
Due: none

fix: Build shared packages before running tests in CI
  .github/workflows/ci.yml
Due: none

security: Fix all critical, high and moderate vulnerabilities
  .vscode/settings.json
  apps/auth-service/package.json
  apps/dashboard-client/package.json
  apps/gateway/package.json
  apps/inventory-service/package.json
  apps/notification-service/package.json
  apps/order-service/package.json
  apps/payment-service/package.json
  apps/product-service/package.json
  apps/transportista-service/package.json
  apps/user-service/package.json
  backend/package.json
  docs/cspell-dictionary.md
  package.json
  packages/design-system/package.json
  packages/observability/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: Use pnpm filter to generate Prisma clients instead of workspace exec
  .github/workflows/ci.yml
Due: none

fix: Use 'pnpm run db:generate' instead of 'pnpm exec prisma'
  .github/workflows/ci.yml
Due: none

fix: Address PR #340 review comments - JWT security, import cleanup, CI error handling (#341)
  .github/workflows/ci.yml
  .vscode/settings.json
  apps/gateway/src/common/guards/jwt-auth.guard.ts
  apps/gateway/src/common/middleware/jwt-auth.middleware.ts
  apps/inventory-service/service.ts
  apps/order-service/service.ts
  apps/product-service/service.ts
  apps/user-service/service.ts
  docs/cspell-dictionary.md
  jest.config.base.cjs
  packages/design-system/README.md
  packages/design-system/tailwind.preset.js
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

fix: Add eslint dependencies to product-service
  apps/product-service/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: Add .js extension to eslint-config-next imports
  apps/dashboard-client/eslint.config.mjs
Due: none

fix: Use FlatCompat for eslint-config-next in ESLint 9
  apps/dashboard-client/eslint.config.mjs
  apps/dashboard-client/package.json
  pnpm-lock.yaml
Due: prettier --write
