Repository Neiland85/a4co-ddd-microservices: changes, and which lint-staged commands are due for each by the changed paths.
All: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

fix: rewrite corrupted CI pipeline with clean 4-parallel-job structure
  .github/workflows/ci.yml
Due: none

fix: complete CI pipeline and dependency fixes
  .github/workflows/ci.yml
  apps/payment-service/tsconfig.json
  packages/design-system/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: resolve tar-fs symlink validation bypass vulnerability (CVE-2025-59343)
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: resolve lodash prototype pollution vulnerability (CVE-2019-10744)
  apps/order-service/src/main.ts
  apps/payment-service/src/main.ts
  apps/user-service/src/main.ts
  eslint.config.js
  package.json
  packages/observability/src/index.test.ts
  packages/observability/tsconfig.json
  packages/shared-utils/src/security/middleware/prototype-pollution.middleware.ts
  packages/shared-utils/src/security/template/template-sanitizer.ts
  packages/shared-utils/src/security/validators/prototype-pollution.validator.ts
  pnpm-lock.yaml
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

fix: remove conflicting package-lock.json (project uses pnpm)
  package-lock.json
Due: prettier --write

chore: add package-lock.json to .gitignore
  .gitignore
Due: none

fix: resolve remaining security vulnerabilities
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: Add pnpm setup to GitHub Actions workflows
  .github/workflows/deploy.yml
  .github/workflows/feature-flags.yml
  .github/workflows/release.yml
  .github/workflows/test-coverage.yml
Due: none

Feature/monitoring dashboard rollout (#180)
  .github/workflows/deploy.yml
  .github/workflows/feature-flags.yml
  .github/workflows/release.yml
  .github/workflows/test-coverage.yml
Due: none

feat: Add comprehensive monitoring dashboard documentation
  MONITORING_DASHBOARD_README.md
  docs/MONITORING_DASHBOARD_CODE_EXAMPLES.md
  docs/MONITORING_DASHBOARD_CONFIG.md
  docs/MONITORING_DASHBOARD_DIAGRAMS.md
  docs/MONITORING_DASHBOARD_DOCUMENTATION.md
  docs/MONITORING_DASHBOARD_EXECUTIVE_SUMMARY.md
  docs/MONITORING_DASHBOARD_INDEX.md
  docs/MONITORING_DASHBOARD_USER_GUIDE.md
  docs/MONITORING_DASHBOARD_USE_CASES.md
Due: prettier --write

Feature/monitoring dashboard rollout (#181)
  MONITORING_DASHBOARD_README.md
  docs/MONITORING_DASHBOARD_CODE_EXAMPLES.md
  docs/MONITORING_DASHBOARD_CONFIG.md
  docs/MONITORING_DASHBOARD_DIAGRAMS.md
  docs/MONITORING_DASHBOARD_DOCUMENTATION.md
  docs/MONITORING_DASHBOARD_EXECUTIVE_SUMMARY.md
  docs/MONITORING_DASHBOARD_INDEX.md
  docs/MONITORING_DASHBOARD_USER_GUIDE.md
  docs/MONITORING_DASHBOARD_USE_CASES.md
Due: prettier --write

fix: mitigate fast-redact prototype pollution vulnerability
  packages/observability/package.json
Due: prettier --write

chore: update dependencies for security mitigation
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: address Copilot AI code review suggestions
  apps/dashboard-web/src/app/globals.css.backup
  apps/dashboard-web/src/app/globals.css.corrupted
  apps/dashboard-web/src/components/FlamencoPlayer.tsx
  apps/dashboard-web/src/components/v0/raw/breadcrumb.tsx
  apps/dashboard-web/src/components/v0/raw/calendar.tsx
  apps/dashboard-web/src/components/v0/raw/menubar.tsx
  apps/dashboard-web/src/components/v0/templates/V0ComponentTemplate.tsx
  apps/dashboard-web/src/hooks/use-toast.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

fix: update Spanish comments to English for code consistency
  apps/dashboard-web/src/components/v0/raw/breadcrumb.tsx
  apps/dashboard-web/src/components/v0/raw/calendar.tsx
  apps/dashboard-web/src/components/v0/templates/V0ComponentTemplate.tsx
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

fix(ci): reparar SonarCloud PR clone
  .github/workflows/sonarcloud.yml
Due: none

fix: enable shared-utils build script
  packages/shared-utils/package.json
Due: prettier --write

fix: remove non-existent createChildLogger export
  packages/observability/src/index.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

fix: remove exposed secrets and improve security
  .env.compose
  .env.compose.example
  .env.example
  .gitignore
  env.config.example
  packages/shared-utils/package.json
Due: prettier --write

fix: resolve CI/CD pipeline failures
  .env.compose.example
  apps/auth-service/jest.config.js
  apps/gateway/package.json
  apps/product-service/jest.config.js
  apps/transportista-service/package.json
  package.json
  packages/shared-utils/index.ts
  packages/shared-utils/src/api-clients/notification-client.ts
  packages/shared-utils/src/base/BaseController.ts
  packages/shared-utils/src/components/SafeChartStyles.tsx
  packages/shared-utils/src/domain/index.ts
  packages/shared-utils/src/dto/response-dto.ts
  packages/shared-utils/src/events/integration-events.ts
  packages/shared-utils/src/index.ts
  packages/shared-utils/src/saga/saga-orchestrator.ts
  packages/shared-utils/src/security/dom-sanitizer.ts
  packages/shared-utils/src/utils/validation-utils.ts
  packages/shared-utils/tsconfig.json
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

fix: clean up duplicate code in auth-service
  apps/auth-service/src/auth.module.ts
  apps/auth-service/src/middleware/security.middleware.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

fix: correct GitHub Actions checkout for PR workflows
  .github/workflows/ci-cd.yml
Due: none

Resolve merge conflicts in critical files
  scripts/generate-critical-tests.ts
  scripts/refactor-duplicated-code.ts
  utils/metrics-to-animation.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

fix: resolve build failures blocking PR #190
  apps/product-service/src/__tests__/integration/product-service.api.integration.spec.ts
  apps/product-service/src/__tests__/integration/product-service.db.integration.spec.ts
  apps/product-service/src/__tests__/product-service.controller.spec.ts
  apps/product-service/src/__tests__/product-service.module.spec.ts
  apps/product-service/src/__tests__/product-service.service.spec.ts
  apps/product-service/src/application/services/product.service.ts
  apps/product-service/src/domain/aggregates/product.aggregate.ts
  apps/product-service/src/domain/entities/product.entity.ts
  apps/product-service/src/infrastructure/repositories/product.repository.ts
  apps/product-service/src/main.ts
  apps/product-service/src/product.controller.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

fix: correct PrototypePollutionValidator to properly detect prototype pollution
  jest.config.js
  jest.setup.js
  packages/shared-utils/src/security/validators/prototype-pollution.validator.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

fix: correct Dependabot configuration to match actual project structure
  .github/dependabot.yml
Due: none

security: remove exposed secrets detected by GitGuardian
  .env.backup
Due: none

fix: resolve CI/CD workflow failures for PR #190
  .eslintrc.cjs
  .eslintrc.json
  apps/auth-service/jest.config.js
  apps/auth-service/package.json
  apps/inventory-service/package.json
  apps/notification-service/package.json
  apps/order-service/package.json
  apps/product-service/jest.config.js
  apps/product-service/package.json
  apps/transportista-service/package.json
  apps/user-service/package.json
  eslint.config.js
  jest.config.base.cjs
  package.json
  packages/design-system/.eslintrc.js
  packages/design-system/h-modern-dashboard/tsconfig.json
  packages/design-system/package.json
  packages/observability/package.json
  packages/shared-utils/src/security/template/template-sanitizer.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Path conditions:
  ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,json,md,css})
