Repository Neiland85/a4co-ddd-microservices: changes, and which lint-staged commands are due for each by the changed paths.
All: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{js,jsx,json,md,css}": ["prettier --write"]
}

fix: resolve merge conflicts and workflow issues
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .markdownlint.json
  SESION_COMPLETA_RESUMEN.md
Due: prettier --write

feat(transportista-service): complete implementation with full tracking
  apps/transportista-service/main.py
  apps/transportista-service/models.py
  apps/transportista-service/service.py
Due: none

docs: add backend 100% complete documentation
  BACKEND_100_COMPLETE.md
Due: prettier --write

feat: complete transportista-service - Backend 100% implemented
  BACKEND_100_COMPLETE.md
  apps/transportista-service/main.py
  apps/transportista-service/models.py
  apps/transportista-service/service.py
Due: prettier --write

style: fix markdownlint issues in documentation
  BACKEND_100_COMPLETE.md
  BACKEND_IMPLEMENTATION_SUMMARY.md
  SESION_COMPLETA_RESUMEN.md
Due: prettier --write

style: fix ordered list prefixes in documentation
  BACKEND_100_COMPLETE.md
  SESION_COMPLETA_RESUMEN.md
Due: prettier --write

test: add comprehensive unit tests for new services
  apps/inventory-service/src/application/use-cases/check-inventory.use-case.spec.ts
  apps/inventory-service/src/application/use-cases/reserve-stock.use-case.spec.ts
  apps/inventory-service/src/domain/entities/product.entity.spec.ts
  apps/notification-service/src/providers/email.provider.spec.ts
  apps/notification-service/src/service.spec.ts
  apps/transportista-service/tests/test_models.py
  apps/transportista-service/tests/test_service.py
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

test: add E2E tests with Playwright (~450 lines, 15+ scenarios)
  tests/e2e/package.json
  tests/e2e/playwright.config.ts
  tests/e2e/specs/auth.spec.ts
  tests/e2e/specs/checkout.spec.ts
  tests/e2e/specs/producer-dashboard.spec.ts
  tests/e2e/specs/products.spec.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

docs: add complete testing documentation
  TESTING_COMPLETO.md
Due: prettier --write

style: apply prettier formatting to E2E tests and documentation
  TESTING_COMPLETO.md
Due: prettier --write

test: Complete testing suite (unit + E2E, ~1,800 lines, 50+ test cases)
  BACKEND_100_COMPLETE.md
  BACKEND_IMPLEMENTATION_SUMMARY.md
  SESION_COMPLETA_RESUMEN.md
  TESTING_COMPLETO.md
  apps/inventory-service/src/application/use-cases/check-inventory.use-case.spec.ts
  apps/inventory-service/src/application/use-cases/reserve-stock.use-case.spec.ts
  apps/inventory-service/src/domain/entities/product.entity.spec.ts
  apps/notification-service/src/providers/email.provider.spec.ts
  apps/notification-service/src/service.spec.ts
  apps/transportista-service/tests/test_models.py
  apps/transportista-service/tests/test_service.py
  tests/e2e/package.json
  tests/e2e/playwright.config.ts
  tests/e2e/specs/auth.spec.ts
  tests/e2e/specs/checkout.spec.ts
  tests/e2e/specs/producer-dashboard.spec.ts
  tests/e2e/specs/products.spec.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

docs: final session summary - testing complete 🎊
  SESION_TESTING_FINAL.md
Due: prettier --write

fix: resolve merge conflicts in scripts and temporarily disable format:check
  .github/workflows/ci-cd.yml
  SESION_TESTING_FINAL.md
  scripts/analyze-technical-debt.ts
  scripts/bundle-killer.ts
  scripts/complexity-hotspots.ts
  scripts/refactor-duplicated-code.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat: production-ready optimization
  PRE_PRODUCTION_CHECKLIST.md
  apps/auth-service/tsconfig.json
Due: prettier --write

feat: add production deployment script with blue-green strategy
  scripts/deploy-production.sh
Due: none

🚀 Release v1.0.0 - Production Deployment (#217)
  .github/workflows/ci-cd.yml
  PRE_PRODUCTION_CHECKLIST.md
  SESION_TESTING_FINAL.md
  apps/auth-service/tsconfig.json
  scripts/analyze-technical-debt.ts
  scripts/bundle-killer.ts
  scripts/complexity-hotspots.ts
  scripts/deploy-production.sh
  scripts/refactor-duplicated-code.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

docs: add comprehensive pre-production audit
  AUDITORIA_PRE_PRODUCCION.md
Due: prettier --write

fix(vercel): add NestJS CLI and build filter
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(auth): handle optional name in register-user use-case (normalize fallback to fullName/empty string)
  apps/auth-service/src/application/dto/user.dto.ts
  apps/auth-service/src/application/use-cases/register-user.use-case.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

fix: disable additional active workflows (ddd-audit, prisma-verify, dependencies, build-and-deploy, deploy-production, release)
  .github/workflows/build-and-deploy.yml
  .github/workflows/ddd-audit.yml
  .github/workflows/dependencies.yml
  .github/workflows/deploy-production.yml
  .github/workflows/design-system-preview.yml
  .github/workflows/prisma-verify.yml
  .github/workflows/release.yml
  .github/workflows/test-coverage.yml
Due: none

fix: manual verification of ddd-audit.yml workflow disabled
  .github/workflows/ddd-audit.yml
Due: none

fix: disable feature-flags.yml workflow completely
  .github/workflows/feature-flags.yml
Due: none

fix: disable Vercel deployment by renaming vercel.json
  vercel.json.disabled
Due: none

test: verification push after disabling external services
  .workflows-disabled-verification.txt
Due: none

feat: disable all workflows for clean PR #218 merge
  .github/workflows/api-contract-validation.yml
  .github/workflows/ci-cd.yml
  .github/workflows/ci.yml
  .github/workflows/ddd-audit.yml
  .github/workflows/dependencies.yml
  .github/workflows/deploy.yml
  .github/workflows/design-system-preview.yml
  .github/workflows/feature-flags.yml
  .github/workflows/release.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/test-coverage.yml
  .workflows-disabled-fix-auth.txt
Due: none

fix(auth): handle optional name in register-user use-case (normalize …fallback to fullName/empty string) (#218)
  .github/workflows/api-contract-validation.yml
  .github/workflows/ci-cd.yml
  .github/workflows/ci.yml
  .github/workflows/ddd-audit.yml
  .github/workflows/dependencies.yml
  .workflows-disabled-fix-auth.txt
Due: none

feat: disable all workflows in develop branch for clean merge
  .github/workflows/api-contract-validation.yml
  .github/workflows/build-and-deploy.yml
  .github/workflows/ci-cd.yml
  .github/workflows/ci.yml
  .github/workflows/ddd-audit.yml
  .github/workflows/dependencies.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy.yml
  .github/workflows/design-system-preview.yml
  .github/workflows/feature-flags.yml
  .github/workflows/prisma-verify.yml
  .github/workflows/release.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/test-coverage.yml
  .workflows-disabled-develop.txt
Due: none

🔒 CRITICAL SECURITY FIX: Remove hardcoded secrets and credentials
  .env.example
  infra/docker/docker-compose.dev.yml
  scripts/init-db.sql
Due: none

feat: clean workflow disable + security fixes for develop branch
  .env.example
  .github/workflows/api-contract-validation.yml
  .github/workflows/ci-cd.yml
  .github/workflows/ci.yml
  .github/workflows/ddd-audit.yml
  .github/workflows/dependencies.yml
  .workflows-disabled-develop-clean.txt
  infra/docker/docker-compose.dev.yml
  scripts/init-db.sql
Due: none

feat: clean workflow disable + security fixes for develop branch (#221)
  .env.example
  .github/workflows/api-contract-validation.yml
  .github/workflows/ci-cd.yml
  .github/workflows/ci.yml
  .github/workflows/ddd-audit.yml
  .github/workflows/dependencies.yml
  .workflows-disabled-develop-clean.txt
  infra/docker/docker-compose.dev.yml
  scripts/init-db.sql
Due: none

feat: disable workflows + security fixes in auth service branch
  .env.example
  .github/workflows/api-contract-validation.yml
  .github/workflows/ci-cd.yml
  .github/workflows/ci.yml
  .github/workflows/ddd-audit.yml
  .github/workflows/dependencies.yml
  .workflows-disabled-auth-fix.txt
  infra/docker/docker-compose.dev.yml
  scripts/init-db.sql
Due: none

feat: disable workflows + security fixes in design-system-integration
  .env.example
  .github/workflows/api-contract-validation.yml
  .github/workflows/build-and-deploy.yml
  .github/workflows/ci-cd.yml
  .github/workflows/ci.yml
  .github/workflows/ddd-audit.yml
  .github/workflows/dependencies.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy.yml
  .github/workflows/design-system-preview.yml
  .github/workflows/feature-flags.yml
  .github/workflows/prisma-verify.yml
  .github/workflows/release.yml
  .github/workflows/sonarcloud.yml
  .github/workflows/test-coverage.yml
  .workflows-disabled-design-system.txt
  apps/gateway/package-lock.json
  infra/docker/docker-compose.dev.yml
  scripts/init-db.sql
Due: prettier --write

feat: disable workflows + security fixes in design-system-integration (#222)
  .workflows-disabled-design-system.txt
  apps/gateway/package-lock.json
Due: prettier --write

Fix/auth findbyemail clean workflows (#223)
  .workflows-disabled-auth-fix.txt
Due: none

📊 feat: Add comprehensive DORA metrics analysis report
  DORA_METRICS_ANALYSIS_2025.md
  DORA_RELEASE_SUMMARY.md
Due: prettier --write

🎯 docs: Add comprehensive session summary - Nov 3, 2025
  SESION_FINAL_RESUMEN_NOV2025.md
Due: prettier --write

📝 docs: Update final session summary with latest edits
  SESION_FINAL_RESUMEN_NOV2025.md
Due: prettier --write

chore(devcontainer): sincroniza entorno completo + alias a4co y limpieza idempotente
  .devcontainer/.devcontainer/Dockerfile
  .devcontainer/.devcontainer/devcontainer.json
  .devcontainer/.devcontainer/docker-compose.dev.yml
  .devcontainer/.devcontainer/init-scripts/healthcheck.sh
  .devcontainer/.devcontainer/init-scripts/setup.sh
  .devcontainer/Dockerfile
  .devcontainer/docker-compose.dev.yml
  .devcontainer/init-scripts/healthcheck.sh
  .devcontainer/init-scripts/setup.sh
  .devcontainer_backup_20251104_0715/devcontainer.json
  .envrc
  .gitignore
  .local-bin/a4co-setup
  apps/gateway/.vscode/settings.json
  apps/order-service/.vscode/settings.json
  docs/.vscode/settings.json
  infra/docker/.vscode/settings.json
  infra/observability/prometheus.yml
Due: prettier --write
