Repository Neiland85/a4co-ddd-microservices: changes, and which lint-staged commands are due for each by the changed paths.
All: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

[WIP] Update to address feedback on optimizing Docker builds (#300)
  apps/dashboard-client/Dockerfile.prod
  apps/dashboard-client/next.config.mjs
Due: none

docs: Document Tailwind CSS configuration changes for Docker compatibility (#299)
  apps/dashboard-client/README-CONFIG-CHANGES.md
  apps/dashboard-client/TAILWIND_MIGRATION.md
Due: prettier --write

Complete Docker optimization: standalone mode, nginx config, remove unused stages (#306)
  apps/dashboard-client/Dockerfile.prod
  apps/dashboard-client/next.config.ts
  apps/frontend/Dockerfile.prod
  apps/frontend/nginx.conf
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

fix: Soluciona todos los tests en auth-service (55/55 pasando)
  apps/auth-service/src/application/adapters/in-memory-event-bus.adapter.ts
  apps/auth-service/src/service.ts
  apps/auth-service/test/auth.service.spec.ts
  apps/auth-service/test/factories.ts
  apps/auth-service/test/use-cases/register-user-unit.spec.ts
  packages/shared-utils/src/base-service.ts
  packages/shared-utils/src/index.ts
  packages/shared-utils/src/use-case.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

chore: actualiza configuración de workspace y diccionario de ortografía
  .vscode/settings.json
  docs/cspell-dictionary.md
Due: prettier --write

chore: actualiza configuración de vscode y diccionario
  .vscode/settings.json
  docs/cspell-dictionary.md
Due: prettier --write

feat: Improve GitHub Actions CI/CD workflows for monorepo (#309)
  .github/workflows/ci-cd.yml
  .github/workflows/deploy-production.yml
  .vscode/settings.json
  apps/frontend/Dockerfile
  apps/gateway/Dockerfile
  apps/inventory-service/Dockerfile
  apps/order-service/Dockerfile
  apps/payment-service/Dockerfile
  apps/product-service/package.json
  docs/cspell-dictionary.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(ci): reactivate and stabilize CI/CD with memory, esm linting and secret compliance
  .eslintignore
  .github/workflows/ci.yml
  docker-compose.yml
  packages/design-system/src/components/Card/Card.tsx
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Resolver conflicto: mantener cambios remotos
  .github/workflows/ci.yml.disabled
  .turbo/cache/0c5a4f81a7e6b743-meta.json
  .turbo/cache/0c5a4f81a7e6b743.tar.zst
  .turbo/cache/691a37d3214f5654-meta.json
  .turbo/cache/691a37d3214f5654.tar.zst
  .turbo/cookies/10.cookie
  .turbo/cookies/8.cookie
  .turbo/cookies/9.cookie
Due: prettier --write

fix(ci): final passes for Build & GitGuardian in PR #310
  docker-compose.yml
Due: none

fix(eslint): replace empty object type {} with Record<string, unknown>
  packages/shared-utils/src/types/common.types.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

fix(eslint): replace empty object type {} with Record<string, unknown>
  .github/workflows/ci.yml
  .turbo/cache/2a7ab279a4bef19c-meta.json
  .turbo/cache/2a7ab279a4bef19c.tar.zst
  .turbo/cache/60a7e0fb5048c1c7-meta.json
  .turbo/cache/60a7e0fb5048c1c7.tar.zst
  .turbo/cache/626bf607627b5567-meta.json
  .turbo/cache/626bf607627b5567.tar.zst
  .turbo/cache/982968099eedf4d5-meta.json
  .turbo/cache/982968099eedf4d5.tar.zst
  .turbo/cache/a437a29bdda15a59-meta.json
  .turbo/cache/a437a29bdda15a59.tar.zst
  .turbo/cache/afb102312d8e72ed-meta.json
  .turbo/cache/afb102312d8e72ed.tar.zst
  .turbo/cache/d03e0226003611b1-meta.json
  .turbo/cache/d03e0226003611b1.tar.zst
  .turbo/cookies/1.cookie
  .turbo/cookies/10.cookie
  .turbo/cookies/2.cookie
  .turbo/cookies/3.cookie
  .turbo/cookies/4.cookie
  .turbo/cookies/5.cookie
  .turbo/cookies/6.cookie
  .turbo/cookies/7.cookie
  .turbo/cookies/8.cookie
  .turbo/cookies/9.cookie
  .turbo/daemon/d42444ee0ef6d315-turbo.log.2025-12-01
  .vscode/settings.json
  apps/payment-service/src/application/handlers/order-events.handler.ts
  apps/payment-service/src/application/services/payment-event.publisher.ts
  apps/payment-service/src/payment.controller.spec.ts
  apps/payment-service/src/payment.module.ts
  apps/payment-service/src/payment.service.spec.ts
  apps/payment-service/src/presentation/payment.controller.ts
  apps/transportista-service/package.json
  apps/user-service/eslint.config.js
  docs/cspell-dictionary.md
  jest.config.js
  package.json
  packages/shared-utils/src/types/common.types.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

Update cspell dictionary documentation to reflect latest synchronization and word lists
  docs/cspell-dictionary.md
Due: prettier --write

Ci fix and upgrade (#329)
  .github/workflows/ci.yml
  .turbo/cache/2a7ab279a4bef19c-meta.json
  .turbo/cache/2a7ab279a4bef19c.tar.zst
  .turbo/cache/60a7e0fb5048c1c7-meta.json
  .turbo/cache/60a7e0fb5048c1c7.tar.zst
  .turbo/cache/626bf607627b5567-meta.json
  .turbo/cache/626bf607627b5567.tar.zst
  .turbo/cache/982968099eedf4d5-meta.json
  .turbo/cache/982968099eedf4d5.tar.zst
  .turbo/cache/a437a29bdda15a59-meta.json
  .turbo/cache/a437a29bdda15a59.tar.zst
  .turbo/cache/afb102312d8e72ed-meta.json
  .turbo/cache/afb102312d8e72ed.tar.zst
  .turbo/cache/d03e0226003611b1-meta.json
  .turbo/cache/d03e0226003611b1.tar.zst
  .turbo/cookies/1.cookie
  .turbo/cookies/10.cookie
  .turbo/cookies/2.cookie
  .turbo/cookies/3.cookie
  .turbo/cookies/4.cookie
  .turbo/cookies/5.cookie
  .turbo/cookies/6.cookie
  .turbo/cookies/7.cookie
  .turbo/cookies/8.cookie
  .turbo/cookies/9.cookie
  .turbo/daemon/d42444ee0ef6d315-turbo.log.2025-12-01
  .vscode/settings.json
  apps/payment-service/src/application/handlers/order-events.handler.ts
  apps/payment-service/src/application/services/payment-event.publisher.ts
  apps/payment-service/src/payment.controller.spec.ts
  apps/payment-service/src/payment.module.ts
  apps/payment-service/src/payment.service.spec.ts
  apps/payment-service/src/presentation/payment.controller.ts
  apps/transportista-service/package.json
  apps/user-service/eslint.config.js
  docs/cspell-dictionary.md
  jest.config.js
  package.json
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

feat(ci+deps+tests+docker): FINAL GOLDEN VERSION – CI verde forever, tests 100%, Docker optimizado, 2025-ready
  .vscode/settings.json
  docs/cspell-dictionary.md
Due: prettier --write

fix: CVE-2025-55182 - Actualizar Next.js y React a versiones seguras
  apps/dashboard-client/package.json
  packages/design-system/h-modern-dashboard/package.json
Due: prettier --write

fix: CVE-2025-55182 - Actualizar Next.js y React a versiones seguras
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: resolver errores de TypeScript y configuración de proyectos
  apps/auth-service/tsconfig.json
  packages/observability/tsconfig.json
  tsconfig.json
Due: prettier --write

chore: Remover jest.config.js duplicado
  jest.config.js (asegúrate de que esté configurado correctamente)
Due: none

chore: Limpiar y organizar código de auth-service
  apps/auth-service/src/instrument.ts
  apps/auth-service/src/main.ts
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

fix: Consolidar Docker Compose y crear Dockerfile para auth-service
  .dockerignore
  apps/auth-service/Dockerfile
  compose.yaml
  docker-compose.yml
Due: none

fix: GitHub Actions workflow - remover instalación innecesaria de tar
  .github/workflows/ci.yml
Due: none

docs: Documentación de Fase 0 completada y configuración final
  .vscode/settings.json
  FASE0_COMPLETION_SUMMARY.md
  FASE0_FINAL_REPORT.md
  INDICE_DOCUMENTACION.md
  RESUMEN_EJECUCION_PROXIMOS_PASOS.md
  cspell.json
  docs/cspell-dictionary.md
Due: prettier --write

chore: Cambios de build y configuración final
  .turbo/cache/23c62c2de8b31b22-meta.json
  .turbo/cache/23c62c2de8b31b22.tar.zst
  .turbo/cache/679cd94fc7c30e7f-meta.json
  .turbo/cache/679cd94fc7c30e7f.tar.zst
  .turbo/cache/77a1b5f109b530ac-meta.json
  .turbo/cache/77a1b5f109b530ac.tar.zst
  .vscode/settings.json
  apps/payment-service/src/application/services/newFile.ts
  apps/payment-service/src/application/services/payment.service.spec.ts
  docs/cspell-dictionary.md
Due: ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0, prettier --write

fix: GitHub Actions - instalar tar/git ANTES de checkout
  .github/workflows/ci.yml
Due: none

fix: GitHub Actions - remover sudo, confiar en herramientas del runner
  .github/workflows/ci.yml
Due: none

refactor: normalizar Dockerfiles para usar contexto de raíz
  .vscode/settings.json
  apps/order-service/Dockerfile
  apps/payment-service/Dockerfile
  docs/cspell-dictionary.md
  scripts/normalize-dockerfiles.sh
Due: prettier --write

fix: GitHub Actions - remover verificación innecesaria de tools
  .github/workflows/ci.yml
Due: none

fix: GitHub Actions - instalar tar ANTES de checkout
  .github/workflows/ci.yml
Due: none

fix: GitHub Actions - cambiar a ubuntu-22.04 con apt-get garantizado
  .github/workflows/ci.yml
Due: none

fix: GitHub Actions - usar container Debian con todas las dependencias
  .github/workflows/ci.yml
Due: none

fix: GitHub Actions - volver a ubuntu-latest + sudo apt-get (funciona como en main)
  .github/workflows/ci.yml
Due: none

fix: GitHub Actions - setup-node ANTES de checkout, sin sudo
  .github/workflows/ci.yml
Due: none

fix: GitHub Actions - usar workflow exacto de main que funciona
  .github/workflows/ci.yml
Due: none

fix: GitHub Actions - remover paso de instalación de tar/sudo (no es necesario)
  .github/workflows/ci.yml
Due: none

chore: Cambios finales pendientes
  .vscode/settings.json
  docs/cspell-dictionary.md
Due: prettier --write

Path conditions:
  ESLINT_USE_FLAT_CONFIG=false eslint --no-eslintrc --config .eslintrc.permissive.json --fix --max-warnings=0: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,json,md,css})
